@import "../../global/media-queries.css";

.footer {
  color: var(--color-dark);
  padding: var(--spacer);
}

.footer__details {
  text-align: center;
  font-weight: 300;
  margin-bottom: var(--spacer);

  & .footer__text {
    display: block;
    margin-bottom: calc(var(--spacer) / 2);
  }

  & .footer__link {
    text-decoration: underline;
  }
}

.footer__social {
    & .footer__socialList {
        display: flex;
        justify-content: space-evenly;
    }
}

.footer__item {
    margin-right: 0.5rem;

    &:last-child {
        margin-right: 0;
    }
}

.navigation {
  display: none;
}
