.menu
    position fixed
    top 0
    right 0
    width 90%
    height 100vh
    background-color $color-blue
    padding 1rem 0.5rem
    box-sizing border-box
    z-index 150
    display none
    
    &__close
        position absolute
        background-color $color-yellow
        top 0.8rem
        left -1.5rem
        padding 0.8rem
        box-shadow 5px 5px 0 $color-red
        
        .menu__icon
            font-size 1.7rem
            color $color-black
    
.menu__image
    text-align center
    
    .menu__img
        width 120px
        margin 0 0 0.6rem 0
        
    .menu__text
        color $color-white
        font-size 2rem
        font-weight 700
        font-family $font-nutito
    
.menu__options
    display flex
    justify-content flex-start
    flex-wrap wrap
    
    .menu__option
        width 33.33%
        text-align center
        
        &:first-child .menu__link > .menu__icon:before
            content '\e900' //Home
        &:nth-child(2) .menu__link > .menu__icon:before
            content '\e074' //About
        &:nth-child(3) .menu__link > .menu__icon:before
            content '\e034' //Diary
        &:nth-child(4) .menu__link > .menu__icon:before
            content '\ea37' //Courses
        &:nth-child(5) .menu__link > .menu__icon:before
            content '\e018' //Videos
        &:nth-child(6) .menu__link > .menu__icon:before
            content '\e024' //Contact
        &:nth-last-child(3) .menu__link > .menu__icon:before
            content '\e902' //Facebook
        &:nth-last-child(2) .menu__link > .menu__icon:before
            content '\e901' //Twitter
        &:last-child .menu__link > .menu__icon:before
            content '\e903' //Instragram
    
.menu__link
    color $color-white
    font-weight 300
    
    .menu__icon
        font-size 1.8rem
        display block
        margin 1rem 0 0.3rem 0
        
@media $mq-phone-min-360
    .menu
        width 80%
        
@media $mq-phone-min-375
    .menu
        width 75%

@media $mq-phone-min-412
    .menu
        width 70%
        
@media $mq-tablet-min-600
    .menu
        width 50%
        
@media $mq-tablet-min-640
    .menu
        width 45%
        
@media $mq-tablet-min-750
    .menu
        width 40%
        
@media $mq-desktop-min-1024
    .menu
        position initial
        width auto
        height auto
        background-color none
        padding 0
        display block
        
        &__close
            display none
        
    .menu__image
        display none
        
    .menu__options
        justify-content flex-end
        flex-wrap nowrap
        
        .menu__option
            width auto
            margin 0 0.8rem
            
            &:first-child .menu__link > .menu__icon:before
            &:nth-child(2) .menu__link > .menu__icon:before
            &:nth-child(3) .menu__link > .menu__icon:before
            &:nth-child(4) .menu__link > .menu__icon:before
            &:nth-child(5) .menu__link > .menu__icon:before
            &:nth-child(6) .menu__link > .menu__icon:before
            &:nth-last-child(3) .menu__link > .menu__icon:before
            &:nth-last-child(2) .menu__link > .menu__icon:before
            &:last-child .menu__link > .menu__icon:before
            &:nth-last-child(3)
            &:nth-last-child(2)
            &:last-child
                display none
                
    .menu__link
        .menu__icon
            margin 0

@media $mq-desktop-min-1200
    .menu__options
        .menu__option
            margin 0 1rem

    .menu__link
        .menu__text
            font-size 1.1rem
