{{!------------------------------------}}
          {{!-- Amp footer --}}
{{!------------------------------------}}

{{!-- Blog amp footer --}}

{{!-- Blog tittle --}}
<strong class="footer__title">
    <a class='footer__link' href="{{@blog.url}}">{{@blog.title}}</a>
</strong>

{{!-- Blog information--}}
<div class="footer__info">

    {{!-- Copyright --}}
    <span class="footer__copyright"> © 2015-2017 <a href='http://creativecommons.org/licenses/by-sa/4.0/' target='_blank' class="footer__link">Filiberto Santillán</a>
    </span>

    {{!-- Digitalocean --}}
    <span class="footer__digitalocean"> Alojado en <a href='https://m.do.co/c/c4c217c06b83' target='_blank' class="footer__link">DigitalOcean</a>
    </span>
</div>