<div class="header__title">
    <strong class="header__text">
        <a class='header__link' href="{{@blog.url}}">{{@blog.title}}</a>
    </strong>
</div>
<div class="header__menu">
    <a href='#' class="header__icon fa fa-bars" on='tap:sidebar1.open'></a>
</div>