{{!------------------------------------}}
          {{!-- Cover-page --}}
{{!------------------------------------}}

{{!-- Cover of a page --}}

{{!-- Post cover image --}}
<div class='cover__wrapper'>
    
    {{!-- Post title --}}
    <div class='cover-post__title wrap-center'>
        <h1 class='cover-post__text'>{{title}}</h1>
    </div>

</div>