<div class="cover-container u-content-center">
    <div class="cover__introduction">
        <span class="u-font-xlarge">Hola, soy</span>
        <strong class="u-font-xlarge">Fili.</strong>
    </div>

    <div class="cover__description">
        <p class="cover__text u-margin-top-disabled">{{@site.description}}</p>
    </div>

    <div class="cover__button">
        <a href="#" class="btn-secondary">Saber más</a>
    </div>
</div>