{{!------------------------------------}}
          {{!-- Cover --}}
{{!------------------------------------}}

{{!-- Cover of a index (default) --}}

{{!-- Cover image --}}
<div class='cover__wrapper'>
    {{!-- Tittle --}}
    <h1 class="cover__name">
        {{@blog.title}}
    </h1>
    {{!-- Description --}}
    <div class='cover-post__title wrap-center'>
        <strong class='cover-post__text'>{{@blog.description}}</strong>
    </div>

    {{!-- Icono de feedly --}}
    <a class="cover__feedly" href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Ffilisantillan.com%2Frss%2F'  target='blank'>
        <img id='feedlyFollow' src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png' alt='follow us in feedly' width='71' height='28'>
    </a>
</div>