<div class="cover-container u-content-center">

    {{!-- Introduction --}}
    <div class="cover__introduction">
        <span>Hola, soy</span>
        <strong>Fili.</strong>
    </div>

    {{!-- Description --}}
    <div class="cover__description">
        <p class="cover__text u-margin-top-disabled">{{@site.description}}</p>
    </div>

    {{!-- Button --}}
    <div class="cover__button">
        <a href="#" class="btn-invert">Saber más</a>
    </div>
</div>