{{!--
    Layout: Cover (Default)

    Cover image of the home. This is set in the blog settings
--}}

{{!--
    Cover
    The cover image of the home.
--}}

{{!-- Background image --}}
<div class="cover__image {{#if @site.cover_image}}image--true"
    style="background-image: url({{@site.cover_image}}){{else}}image--false{{/if}}">

    <div class="cover-wrapper u-wrap-center u-zindex-3">
        <div class="cover__logo">
            <h1 class="cover__title">
                <a href="{{@site.url}}" class="cover__link u-display-in-block">
                    <span class="cover__text u-text-light">Fili</span>
                    <strong class="cover__text u-text-bold">Santillán</strong>
                </a>
            </h1>
        </div>

        {{!-- Description --}}
        <div class="cover__description">
            <strong class="cover__text">
                {{@site.description}}
            </strong>
        </div>

        {{!-- Icon image --}}
        {{!-- <div class="cover__author cover--imageHome u-only-desktop" id="cover-home"></div> --}}
    </div>
</div>