{{!-- Portada de inicio --}}
<section class='cover {{#if @blog.cover}}' style='background-image: url({{@blog.cover}}){{/if}}'>
    
    <div class="cover__description">
        <strong class="cover__text">{{@blog.description}}</strong>
    </div>
    
</section>