{{!------------------------------------}}
          {{!-- Cover --}}
{{!------------------------------------}}

{{!-- Cover of a index (default) --}}

{{!-- Cover image --}}
<div class='cover__wrapper'>
    {{!-- Tittle --}}
    <h1 class="cover__name">
        {{@blog.title}}
    </h1>
    {{!-- Description --}}
    <div class='cover-post__title wrap-center'>
        <strong class='cover-post__text'>{{@blog.description}}</strong>
    </div>

</div>