{{!------------------------------------}}
          {{!-- Disqus --}}
{{!------------------------------------}}

{{!-- Comment system for the blog, Powered by Disqus --}}

<div class="disqus__title">
    <strong class="disqus__text u-wrap-center">Comparte tu opinión o duda:</strong>
</div>

<div id="disqus_thread" class="u-wrap-center"></div>

<script>

var disqus_config = function () {
    this.page.url = "{{url absolute="true"}}";
    this.page.identifier = "ghost-{{comment_id}}";
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://filisantillan.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Por favor, active JavaScript para ver <a href="https://disqus.com/?ref_noscript">Disqus.</a></noscript>
