{{!------------------------------------}}
          {{!-- Disqus --}}
{{!------------------------------------}}

{{!-- Comment system for the blog, Powered by Disqus --}}

{{!-- Comments --}}
<div id='disqus_thread', class='disqus__comments'></div>

{{!-- In case of error --}}
<noscript>
    Por favor, active JavaScript para ver <a href='http://disqus.com/?ref_noscript'>Disqus.</a>
</noscript>

{{!-- Message --}}
<a href='http://disqus.com' class='dsq-brlink'>Powered by <span class='logo-disqus'>Disqus</span></a>
