{{!------------------------------------}}
{{!-- Disqus. Update: Facebook--}}
{{!------------------------------------}}

{{!-- Comment system for the blog, Powered by Disqus --}}

<div class="disqus__title">
    <strong class="disqus__text u-wrap-center">Comparte tu opinión o duda:</strong>
</div>

<div class="facebook-wrapper u-wrap-center u-text-center">
    <div class="fb-comments" data-href="{{url absolute="true"}}" data-width="950" data-numposts="10"
        data-colorscheme="dark"></div>
</div>

{{!-- <div id="disqus_thread" class="u-wrap-center"></div> --}}

<div id="disqus_thread" class="dq-comments u-wrap-center u-text-center">
    <a href="#" class="btn-secondary" id="disqus-button">Ver comentarios anteriores</a>
</div>

<script>
    const disqusButton = document.getElementById("disqus-button");
    let disqus_config = () => {
        this.page.url = '{{url absolute="true"}}';
        this.page.identifier = 'ghost-{{comment_id}}';
    },
    isDisqusLoaded = false;

    function loadDisqus(event) {
        event.preventDefault();
        if (!isDisqusLoaded) {
            isDisqusLoaded = true;

            let documentObject = document, 
                tagScript = documentObject.createElement('script');

            tagScript.src = 'https://filisantillan.disqus.com/embed.js';
            tagScript.setAttribute('data-timestamp', +new Date());
            (documentObject.head || documentObject.body).appendChild(tagScript);
        }
    };

    disqusButton.addEventListener("click", loadDisqus);
</script>