{{!------------------------------------}}
          {{!-- Footer --}}
{{!------------------------------------}}

{{!-- Blog footer --}}

<div class='wrap-center'>
    {{!-- Logo --}}
    <a href='{{@blog.url}}' class='footer__logo'></a>
    
    {{!-- Social networks --}}
    <div class='flex jus--between dev--tablet-750'>
        <ul class='footer__social no-list'>

            {{!-- Facebook --}}
            <li class='footer__item'>
                <a href='{{facebook_url}}' target='_blank' class='footer__icon icon-facebook'></a>
            </li>

            {{!-- Twitter --}}
            <li class='footer__item'>
                <a href='{{twitter_url}}' target='_blank' class='footer__icon icon-twitter'></a>
            </li>

            {{!-- Instagram --}}
            <li class='footer__item'>
                <a href='https://www.instagram.com/fili.js/' target='_blank' class='footer__icon icon-instagram'></a>
            </li>

            {{!-- Snapchat --}}
            <li class='footer__item'>
                <a href='https://www.snapchat.com/add/fili06604' target='_blank' class='footer__icon icon-snapchat'></a>
            </li>

            {{!-- GitHub --}}
            <li class='footer__item'>
                <a href='https://github.com/FiliJS' target='_blank' class='footer__icon icon-github-simple'></a>
            </li>

        </ul>
        
        {{!-- Blog information --}}
        <div class='footer__info'>

            {{!-- Copyright --}}
            <span class='footer__copyright'>
                © 2015-2017 <a href='http://creativecommons.org/licenses/by-sa/4.0/' target='_blank' class='footer__link'>Filiberto Santillán</a>
            </span>

            {{!-- DigitalOcean --}}
            <span class='footer__digitalocean'>
                Alojado en <a href='https://m.do.co/c/c4c217c06b83' target='_blank' class='footer__link'>DigitalOcean</a>
            </span>
        </div>
    </div>
</div>