<footer class="footer">
    <div class="footer-container u-content-center">

        <div class="footer__details">

            <div class="footer__legal">
                <span class="footer__text">{{@site.title}} Ⓒ 2020 - Todos los derechos reservados.</span>
                <a href="https://filisantillan.com/aviso-legal/" class="footer__link">Aviso Legal</a>
                <a href="https://filisantillan.com/privacidad/" class="footer__link">Privacidad</a>
            </div>

            <div class="footer__server">
                <span> Alojado en <a href="https://m.do.co/c/c4c217c06b83" class="footer__link"
                        rel="noopener noreferrer" target="_blank">Digital Ocean</a>
                </span>
            </div>
        </div>

        <div class="footer__social">
            <ul class='footer__socialList u-no-list'>

                <li class="footer__item">
                    <a href="https://www.instagram.com/fili.santillan/" class="footer__link" rel="noopener noreferrer"
                        target="_blank" title="Instagram" aria-label="Instagram">
                        {{> icon-instagram }}
                    </a>
                </li>

                {{#if twitter}}
                    <li class="footer__item">
                        <a href="{{twitter_url}}" class="footer__link" rel="noopener noreferrer" target="_blank"
                            title="Twitter" aria-label="Twitter">
                            {{> icon-twitter }}
                        </a>
                    </li>
                {{/if}}

                {{#if facebook}}
                    <li class="footer__item">
                        <a href="{{facebook_url}}" class="footer__link" rel="noopener noreferrer" target="_blank"
                            title="Facebook" aria-label="Facebook">
                            {{> icon-facebook }}
                        </a>
                    </li>
                {{/if}}

                <li class="footer__item">
                    <a href="https://www.youtube.com/c/filimartinezz" class="footer__link" rel="noopener noreferrer"
                        target="_blank" title="Youtube" aria-label="Youtube">
                        {{> icon-youtube }}
                    </a>
                </li>

                <li class="footer__item">
                    <a href="https://github.com/FiliSantillan" class="footer__link" rel="noopener noreferrer"
                        target="_blank" title="GitHub" aria-label="GitHub">
                        {{> icon-github }}
                    </a>
                </li>

                <li class="footer__item">
                    <a href="https://codepen.io/filisantillan" class="footer__link" rel="noopener noreferrer"
                        target="_blank" title="GitHub" aria-label="Codepen">
                        {{> icon-codepen }}
                    </a>
                </li>

                <li class="footer__item">
                    <a href="https://unsplash.com/@filisantillan" class="footer__link" rel="noopener noreferrer"
                        target="_blank" title="GitHub" aria-label="Unsplash">
                        {{> icon-unsplash }}
                    </a>
                </li>

            </ul>
        </div>
    </div>
</footer>