{{!------------------------------------}}
          {{!-- Header --}}
{{!------------------------------------}}

<header class="header">
    <div class="header-wrapper u-wrap-center">
        <div class="header__logo">
            <h1 class="header__title">
                <a href="{{@blog.url}}" class="header__link u-display-in-block">
                    <span class="header__text u-text-light">Fili</span>
                    <strong class="header__text u-text-bold">Santillán</strong>
                </a>
            </h1>
        </div>

        <nav class="navigation">
            <ul class="navigation__itemList u-no-list u-shadow-complete">
                {{ "navigation"}}
            </ul>
        </nav>

        <div class="header__containerIcon">
            <a href="#" class="header__icon o-icon-menu"></a>
        </div>
    </div>
</header>
