{{!------------------------------------}}
          {{!-- Header --}}
{{!------------------------------------}}

<header class="header">
    <div class="header-wrapper">

        <picture class="blog-logo u-text-center">
            <source 
                media="(min-width: 650px)" 
                srcset="../src/images/logos/fili-large.png,
                        ../src/images/logos/fili-large@2x.png 2x,
                        ../src/images/logos/fili-medium@2x.png 2x">

            <source 
                media="(min-width: 465px)" 
                srcset="../src/images/logos/fili-medium.png
                        ../src/images/logos/fili-medium@2x.png 2x
                        ../src/images/logos/fili-medium@2x.png 3x">

            <img 
                src="../src/images/logos/fili-small.png"
                srcset="../src/images/logos/fili-small@2x.png 2x,
                        ../src/images/logos/fili-small@3x.png 3x"
                alt="Flowers"
                class="blog-logo__image">
        </picture>

        <div class="blog-description">
            <strong class="blog-description__text">{{@blog.description}}</strong>
        </div>

    </div>
</header>
