{{!-- Header --}}

<header class="header">

    <div class="header-wrap wrap-center">

        {{!-- Logo - Nombre - Nav --}}
        <div class="header__title">
            <figure class="header__logo">
                <a href="http://filisantillan.com/"><img src="{{@blog.logo}}" alt="Logo Fili Santillán"></a>
            </figure>
            <a href="http://filisantillan.com/" class="header__name title">
                <strong class="header__name title">{{@blog.title}}</strong>
            </a>
            <nav class="nav">
                <ul class="header__list">
                    {{navigation}}
                </ul>
            </nav>
        </div>
        
        {{!-- Iconos: Menú - Busqueda --}}
        <div class="header__options">
            <div class="header__search">
                <button class="header__iconSearch icon fa fa-search" id='js-openSearch'></button>
            </div>
            <button class="header__menu icon fa fa-bars" id="js-openMenu"></button>
        </div>
    </div>
</header>