<header class="header">

    <div class="header__title">
        <figure class="header__logo">
            <img src="{{@blog.logo}}" alt="Logo Fili Santillán">
        </figure>
        <strong class="header__name title">{{@blog.title}}</strong>
        <nav class="nav">
            <ul class="header__list">
                {{navigation}}
            </ul>
        </nav>
    </div>

    <div class="header__options">
        <div class="header__search">
            <input class="header__input" type="text" placeholder="Buscar...">
            <button class="header__search icon fa fa-search"></button>
        </div>
        <button class="header__menu icon fa fa-bars"></button>
    </div>

</header>