{{!------------------------------------}}
          {{!-- Header --}}
{{!------------------------------------}}

<header class="header">
    <div class="header-wrapper u-wrap-center">
        <div class="header__logo">
            <h1 class="header__title header--post">
                <a href="{{@blog.url}}" class="header__link u-display-in-block ">
                    <span class="header__text u-text-light">Fili</span>
                    <strong class="header__text u-text-bold">Santillán</strong>
                </a>
            </h1>
        </div>

        <nav class="navigation" id="navigation">
            <ul class="navigation__itemList u-no-list u-shadow-full">
                {{ "navigation"}}
            </ul>

            <div class="navigation__close u-center-content">
                <a href="#" class="navigation__icon o-icon-arrow-up-circle btn" id="btn-navigation-close"></a>
            </div>
        </nav>

        <div class="header__containerIcon">
            <a href="#" class="header__icon o-icon-dots" id="btn-navigation-open"></a>
        </div>
    </div>
</header>

