{{!------------------------------------}}
{{!-- Header --}}
{{!------------------------------------}}

<header class="header">
    <div class="header-wrapper u-wrap-center">

        <div class="header__iconList">
            <a href="#" class="header__icon">
                <img src="" alt="Icon Search" id="icon-search" class="o-icon">
            </a>
            <a href="#" class="header__icon">
                <img src="" alt="Icon Settings" id="icon-settings" class="o-icon">
            </a>
        </div>

        <div class="header__iconList header__iconList--menu">
            <a href="#" class="header__icon" id="btn-open" >
                <img src="" alt="Icon Menu" id="icon-menu" class="o-icon">
            </a>
        </div>

        <nav class="navigation" id="menu-wrapper">
            <div class="navigation-wrapper" id="menu">
                <ul class="navigation__itemList u-no-list">
                    {{ "navigation"}}
                </ul>
            </div>
        </nav>
    </div>
</header>