<section class="menu animated" id="js-menu">
    <button class="menu__close fa fa-times" id="js-closeMenu"></button>
    <figure class="menu__logo">
        <img src="{{@blog.logo}}" alt="Logo Fili Santillán">
    </figure>

    <ul class="menu__list">
        {{navigation}}
    </ul>
</section>