{{!------------------------------------}}
          {{!-- Menu --}}
{{!------------------------------------}}

{{!-- Blog navigation menu --}}

{{!-- Icon to close the menu --}}
<div class='menu__close'>
    <a href='#' class="menu__icon icon-arrow-right" id='close-menu'></a>
</div>

{{!-- Blog Logo --}}
<a href='{{@blog.url}}' class='menu__logo'></a>

{{!-- Navigation --}}
<nav class="menu__navigation">
    <ul class='menu__options no-list'>
        {{navigation}}
    </ul>
</nav>