<div class="menu-container js-menu-container">
    <div class="menu-wrap">
        <nav class="menu">
            <div class="icon-list">
                {{navigation}}
            </div>
        </nav>
        <button class="close-button js-close-main-menu" id="close-button">Cerrar Menu</button>
    </div>
</div>
<div class="menu-overlay js-menu-overlay"></div>