<div class='menu__close'>
    <a href='#' class="menu__icon icon-arrow-right"></a>
</div>

<figure class='menu__image'>
    <img src='{{asset "./dist/images/logo.png"}}' alt='' class='menu__img'>
    <figcaption class="menu__text">
        <span class="menu__name">{{@blog.title}}</span>
    </figcaption>
</figure>

<nav class="menu__navigation">
    <ul class='menu__options no-list'>
        {{navigation}}
    </ul>
</nav>