{{!-- Blog navigation  --}}
{{!-- Everything inside the #navigation tags pulls data from the navigation --}}

<div class="navigation-container">
    <ul class="navigation__itemsList u-no-list">

        {{#foreach navigation}}
            <li class="navigation__item {{#if current}} isItemCurrent {{/if}}" role='presentation'>
                <a class="navigation__link u-disp-inline-block" href='{{url absolute="true"}}'>
                    {{!-- Icon --}}
                    <div class='navigation__icon icon-{{slug}}'></div>
                    {{!-- Text --}}
                    <span class='navigation__text'>{{label}}</span>
                </a>
            </li>
        {{/foreach}}

    </ul>
</div>