{{!------------------------------------}}
          {{!-- Navigation --}}
{{!------------------------------------}}

{{!-- Blog navigation  --}}

{{!-- Everything inside the #navigation tags pulls data from the navigation --}}
{{#foreach navigation}}
	{{!-- navigation item --}}
    <li class='menu__option nav-{{slug}}{{#if current}} nav-current{{/if}}' role='presentation'>
        <a class='menu__link' href='{{url absolute="true"}}'>
            {{!-- Icon --}}
            <i class='menu__icon icon-'></i>
            {{!-- Text --}}
            <span class='menu__text'>{{label}}</span>
        </a>
    </li>
{{/foreach}}

