{{#if prev}}
    <a class="pagination__newer-posts" href="{{page_url prev}}">
        <i class="pagination__icon icon-arrow-mini-left"></i>
    </a>
{{/if}}

<span class="pagination__number">
    Página <strong>{{page}}</strong> de <strong>{{pages}}</strong>
</span>

{{#if next}}
    <a class="pagination__older-posts" href="{{page_url next}}">
        <i class="pagination__icon icon-arrow-mini-right"></i>
    </a>
{{/if}}