{{!------------------------------------}}
          {{!-- Pagination --}}
{{!------------------------------------}}

{{!-- Blog page - All the content of the blog --}}

{{!-- If there is a prev --}}
{{#if prev}}
    {{!-- icon arrow-left --}}
    <a class="pagination__arrow u-display-in-block" href="{{page_url prev}}" title="Anterior" aria-label="Anterior">
        <i class="pagination__icon o-icon-arrow-left-circle"></i>
    </a>
{{/if}}

{{!-- Page you are currently on --}}
<div class="pagination__number">
    <strong class="pagination__text">{{page}}</strong>
</div>

{{!-- If there is a next --}}
{{#if next}}
    {{!-- icon arrow-right --}}
    <a class="pagination__arrow u-display-in-block" href="{{page_url next}}" title="Posterior" aria-label="Posterior">
        <i class="pagination__icon o-icon-arrow-right-circle"></i>
    </a>
{{/if}}