{{!------------------------------------}}
          {{!-- Pagination --}}
{{!------------------------------------}}

{{!-- Blog page - All the content of the blog --}}

{{!-- If there is a prev --}}
{{#if prev}}
    {{!-- icon arrow-left --}}
    <a class="pagination__newer-posts" href="{{page_url prev}}">
        <i class="pagination__icon icon-arrow-mini-left"></i>
    </a>
{{/if}}

{{!-- Page you are currently on --}}
<span class="pagination__number">
    Página <strong>{{page}}</strong> de <strong>{{pages}}</strong>
</span>

{{!-- If there is a next --}}
{{#if next}}
    {{!-- icon arrow-right --}}
    <a class="pagination__older-posts" href="{{page_url next}}">
        <i class="pagination__icon icon-arrow-mini-right"></i>
    </a>
{{/if}}