{{!-- Busqueda de artículo --}}

<section class="big-search animated" id="js-search">

	{{!-- Icono para cerrar --}}
    <a href="#" class="icon-close fa fa-times" id="js-closeSearch"></a>

	{{!-- Input --}}
    <form action="" class="big-search__form">
        <input id="search-field" type="text" placeholder="Buscar...">
    </form>

	{{!-- Resultados--}}
    <section id="results" class="results"></section>

</section>