<section class="big-search animated" id="js-search">
    <a href="#" class="icon-close fa fa-times" id="js-closeSearch"></a>

    <form action="" class="big-search__form">
        <input id="search-field" type="text" placeholder="Buscar...">
    </form>

    <section id="results" class="results">
        
    </section>

</section>