<div class="big-search">
    <i class="fa fa-times big-search-close-btn js-close-search"></i>
    <div class="big-search-container">
        <div class="row">
            <div class="small-12 columns">
                <form class="big-search-form">
                    <input class="big-search-form-input js-search-input" type="text" placeholder="Buscar ..."/>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                {{!-- your search results here --}}
                <div class="big-search-results js-search-results"></div>
            </div>
        </div>
    </div>
</div>