{{#if @labs.subscribers}}
<form action="//filisantillan.us10.list-manage.com/subscribe/post?u=95ea8fe3ca6aa8d832c3cf074&amp;id=3592928afa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribers validate text-center" target="_blank" novalidate>
    <div class="wrap-center">
        <div class="subscribers__text">
            <strong class="subscribers__title">Únete y entérate de todo</strong>
            <p class="subscribers__paragraph">
                Mantente al tanto de las últimas novedades y noticias que suceden en el blog.
            </p>
        </div>

        <div id='mc_embed_signup_scroll'>
            <div class="subscribers__wrapper">

                <div class="flex jus--center dev--tablet-750">
                    <div class="subscribers__content">
                        <i class='subscribers__icon icon-mail'></i>
                        <input type="email" name="EMAIL" placeholder="Correo" class="subscribers__input" id="mce-EMAIL">
                    </div>

                    <div class="subscribers__content">
                        <i class='subscribers__icon icon-user'></i>
                        <input type="text" name="FNAME" placeholder="Nombre" class="subscribers__input" id="mce-FNAME">
                    </div>
                </div>

                <div class="subscribers__content">
                    <input type="submit" value="Suscríbirse" name="subscribe" id="mc-embedded-subscribe" class="subscribers__button btn-default btn--radius">
                </div>
            </div>
        </div>
    </div>
</form>
{{/if}}