{{!------------------------------------}}
          {{!-- Subscribe --}}
{{!------------------------------------}}

{{!-- Subscribers form --}}
<form action="https://filisantillan.us10.list-manage.com/subscribe/post?u=95ea8fe3ca6aa8d832c3cf074&amp;id=3592928afa" 
        method="post" 
        id="mc-embedded-subscribe-form" 
        name="mc-embedded-subscribe-form" 
        class="subscribe" 
        target="_blank" novalidate>
        
    <div class="subscribe-wrapper">
    
        <input type="email" value="" name="EMAIL" class="subscribe__email" id="mce-EMAIL" placeholder="Email" required>

        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe__button u-center-content">
            <span class="subscribe__icon o-icon-arrow-right"></span>
        </button>
    </div>

</form>