button[class*='btn-']
a[class*='btn-']
input[class*='btn-']
    padding 0.7rem 1.3rem
    font-weight 300
    text-transform uppercase
    
button[class*='default']
a[class*='default']
input[class*='default']
    background $color-blue
    color $color-white
    
button[class*='--radius']
a[class*='--radius']
input[class*='--radius']
    border-radius 20px
    
@media $mq-desktop-min-1024
    button[class*='btn-']
    a[class*='btn-']
    input[class*='btn-']
        cursor pointer
        transition 0.2s
        border 1px solid transparent

        &:hover
            background $color-white
            color $color-red
            border 1px solid $color-red
            letter-spacing 2px
            font-weight 400
            
        &:active
            transform scale(0.9)
