@import "./media-queries.css";

@custom-selector :--buttons a[class*="btn"], button[class*="btn"], input[class*="btn"];
@custom-selector :--buttons-secondary a[class*="btn-secondary"], button[class*="btn-secondary"], input[class*="btn-secondary"];
@custom-selector :--buttons-alternative a[class*="btn-alternative"], button[class*="btn-alternative"], input[class*="btn-alternative"];

:--buttons {
  background-color: var(--color-dark);
  display: inline-flex;
  color: white;
  padding: 0 var(--spacer);
  height: var(--btn-height-size);
  line-height: var(--btn-height-size);
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin-right: 8px;
  margin-bottom: 8px;
  justify-content: center;


  &:after {
    content: "";
    position: absolute;
    padding: inherit;
    height: inherit;
    background: none;
    border: 1px solid var(--color-dark);
    top: 8px;
    left: 8px;
    width: 100%;
    display: inline-block;
    z-index: -1;
  }
}

:--buttons-secondary {
  background-color: white;
  color: var(--color-dark);

  &:after {
    border: 1px solid white;
  }
}

:--buttons-alternative {
  background-color: white;
  color: var(--color-dark);

  &:after {
    background-color: var(--color-dark);
  }
}

/* .switch {
  & .switch-button {
    --switch-height: 26px;
    cursor: pointer;
    border: 2px solid var(--color-dark);
    border-radius: 25px;
    width: 45px;
    height: var(--switch-height);
    position: relative;

    & .switch-circle {
      width: calc(var(--switch-height) - 8px);
      height: calc(var(--switch-height) - 8px);
      border: 1px solid #f9e04a;
      background: rgba(249, 224, 74, 0.7);
      position: absolute;
      border-radius: 50%;
      top: 1.5px;
      left: 1.5px;
      transition: 0.3s;
    }
  }

  & .switch-input {
    display: none;

    &:checked + .switch-button {
      & .switch-circle  {
        left: 20px;
        border: 1px solid #898d94;
        background: rgba(137, 141, 148, 0.7);
      }
    }
  }
}

@keyframes translate {
  0% {
    left: 1.5px;
  }

  100% {
    left: 20px;
  }
} */
