@import "./media-queries.css";

:root {

    /* Brand Colors */
    --color-dark: #363A4B;
    --color-yellow: #FFD166;
    --color-blue: #5BC0EB;
    --color-pink: #EA5A7C;

    /* Light colors */
    --color-light: #F7FFF7;
    --color-gray: #EDF2F4;

    /* Interactive colors */

    /* Denotive colors (states) */
    --color-error: #EE3D64;
    --color-sucess: #06D6A0;
    --color-disabled: #DDDDDD;
    --coñor-disabled-dark: #CCCCCC;

    /* Spacer */
    --spacer: 1.5rem;

    /* Others */
    --border-radius-default: 5px;
    --shadow-default: 6px 6px 10px color(black alpha(0.2));
    --btn-height-size: 40px;

}