@import "../../global/media-queries.css";

.post {
    padding: 0 var(--spacer);
    line-height: 1.5;

    & p:first-of-type {
        margin-top: var(--spacer);
    }

    & a {
        text-decoration: underline;
    }

    & p,
    & ul,
    & figure {
        margin-top: 0;
        margin-bottom: var(--spacer);
    }

    & h1,
    & h2,
    & h3,
    & h4 {
        margin-top: calc(var(--spacer) * 2);
        margin-bottom: var(--spacer);
    }

    & h2 {
        font-size: var(--font-size-large);
    }

    & h3 {
        font-size: var(--font-size-h1);
    }

    & strong {
        font-weight: 600;
    }

    & ul {
        & li {
            margin-bottom: calc(var(--spacer) / 2);
        }
    }

    & img {
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        border: 2px solid var(--color-dark);
    }

    & figcaption {
        text-align: center;
        font-size: var(--font-size-xsmall);
    }

    & code {
        overflow-wrap: break-word;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: 0.1rem 0.3rem 0.2rem;
        border-radius: 0.2rem;
        background: var(--color-yellow-alpha);
    }

    & pre {
        position: relative;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        display: flex;
        padding: calc(var(--spacer) + 17.5px) var(--spacer) var(--spacer);
        margin-top: calc(var(--spacer) + 17.5px);
        margin-bottom: calc(var(--spacer) * 2);

        & code {
            background: none;
            border-radius: 0;
            padding: 0;
            word-wrap: initial;
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
        }
    }

    & table {
        border-collapse: collapse;
        width: 100%;
        border: 2px solid var(--color-dark);
        margin-bottom: var(--spacer);
        font-weight: 300;
        font-size: var(--font-size-xsmall);

        & th,
        & td {
            padding: calc(var(--spacer) / 2);
        }

        & th {
            border: 1px solid white;
            font-weight: 600;
        }

        & td {
            border: 1px solid var(--color-dark);
        }

        & tr:nth-child(even) {
            background-color: gray(240);
        }

        & th {
            padding-top: calc(var(--spacer) / 2);
            padding-bottom: calc(var(--spacer) / 2);
            background-color: var(--color-dark);
            color: white;
            text-transform: uppercase;
        }
    }

    @media (--screen-1024) {
        max-width: 900px;
        margin: 0 auto;
        padding: 0;
        line-height: 1.8;

        & pre {
            padding: calc(var(--spacer) + 17.5px) 0 var(--spacer);
        }
    }
}

div[class="warning"],
div[class="note"],
blockquote[class="block"] {
    border: 2px solid var(--color-dark);
    padding: calc(var(--spacer) + 17.5px) var(--spacer) var(--spacer);
    font-size: var(--font-size-xsmall);
    position: relative;
    margin-top: calc(var(--spacer) + 17.5px);
    margin-bottom: var(--spacer);
    margin-left: 0;
    margin-right: 0;

    & .title {
        position: absolute;
        top: -17.5px;
        left: 0.5rem;
        background: white;
        line-height: 35px;
        padding: 0 var(--spacer);
        height: 35px;
        border: 2px solid var(--color-dark);
        font-weight: 700;
    }

    & code {
        background: var(--color-dark);
        color: white;
    }

    & .text {
        margin: 0;
    }
}

div[class="warning"] {
    background-color: var(--color-error);
}

div[class="note"] {
    background-color: var(--color-yellow);
}

blockquote {
    background-color: white;
}

.kg-width-wide {
    position: relative;
    width: 85vw;
    min-width: 100%;
    margin: auto calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.kg-width-full {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.kg-gallery-card {
    margin: 0 0 1.5em;
}

.kg-gallery-card figcaption {
    margin: -1em 0 1.5em;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em auto;
    max-width: 1040px;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-embed-card {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;

    & iframe,
    & object,
    & embed,
    & video {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        border: 2px solid var(--color-dark);
    }

    &.kg-card-hascaption {
        margin-bottom: calc(var(--spacer) + 30px);
        text-align: center;

        & figcaption {
            position: absolute;
            bottom: -30px;
            width: 100%;
        }
    }
}

.kg-bookmark-card {
    width: 100%;
    position: relative;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color: currentColor;
    font-family: inherit;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
    text-decoration: none;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    padding: 20px;
    order: 1;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
    margin-top: 0.5em;
}

.kg-bookmark-metadata {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kg-bookmark-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: 0.5em;
    margin-bottom: 0.05em;
}

.kg-bookmark-thumbnail {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.kg-bookmark-publisher::before {
    content: "•";
    margin: 0 0.5em;
}

.code-container {
    position: relative;
    font-size: var(--font-size-medium);

    & .code-container__language {
        position: absolute;
        top: -17.5px;
        right: 0;
        border: 2px solid var(--color-dark);
        background: white;
        z-index: 10;
        height: 35px;
        line-height: 35px;
        padding: 0 var(--spacer);
        text-transform: uppercase;
        font-weight: 700;
    }
}

.post-resources {
    background: var(--color-yellow);
    padding: var(--spacer);
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    & .post-resources__button {
        min-width: 200px;
        margin-bottom: var(--spacer);
        text-decoration: none;
    }

    @media (--screen-768) {
        & .post-resources__button {
            min-width: 200px;
            margin-right: calc((var(--spacer) * 2) + 8px);
            margin-bottom: 0;

            &:last-child {
                margin-right: 8px;
            }
        }
    }

    @media (--screen-1024) {
        & .post-resources__button {
            margin-right: calc(var(--spacer) * 3);
        }
    }

    @media (--screen-1440) {
        padding: calc(var(--spacer) * 2) 0;
    }
}

.post__content {
    & p,
    & ul,
    & ol,
    & blockquote {
        font-size: var(--md-text);
        line-height: calc(var(--md-text) + 9px);
    }

    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin-bottom: calc(var(--spacer-size) / 2.5);
    }

    & h2 {
        margin-top: calc(var(--spacer-size) * 1.5);
        font-size: var(--xl-title);
        line-height: calc(var(--xl-title) * 1.2);
    }

    & h3 {
        margin-top: calc(var(--spacer-size) * 1.4);
        font-size: var(--md-title);
        line-height: calc(var(--md-title) * 1.2);
    }

    & h4 {
        margin-top: calc(var(--spacer-size) * 1.3);
        font-size: var(--sm-title);
        line-height: calc(var(--sm-title) * 1.2);
    }

    & h5 {
        margin-top: calc(var(--spacer-size) * 1.2);
        font-size: calc(var(--sm-title) - 2px);
        line-height: calc((var(--sm-title) - 2px) * 1.2);
    }

    & h6 {
        margin-top: calc(var(--spacer-size) * 1.1);
        font-size: var(--xl-text);
        line-height: calc(var(--xl-text) * 1.2);
    }

    & blockquote,
    & code {
        position: relative;
        border-radius: var(--radius-size);
    }

    & blockquote {
        background-color: var(--color-dark);
        color: white;
        margin-left: 0;
        margin-right: 0;
        padding: var(--spacer-size) var(--spacer-size) var(--spacer-size)
            calc(var(--spacer-size) * 4);

        & p {
            margin: 0;
        }

        & a {
            font-weight: 700;
        }

        &:before {
            font-family: "icons" !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            content: "\e97f";
            position: absolute;
            width: calc(var(--spacer-size) * 3);
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--xl-title);
            border-right: 1px solid white;
        }

        &.tip {
            background-color: var(--color-quote-yellow);
            color: var(--color-dark);

            &:before  {
                content: "\e916";
                border-right: 1px solid var(--color-dark);
            }
        }

        &.warning {
            background-color: var(--color-quote-red);

            &:before {
                content: "\e97e";
            }

            a {
                color: var(--color-dark);
            }
        }

        &.note {
            & code {
                background-color: white;
            }

            &:before {
                content: "\e97b";
            }
        }

        &.notification {
            background-color: var(--color-quote-green);
            color: var(--color-dark);

            &:before {
                content: "\e97d";
                border-right: 1px solid var(--color-dark);
            }
        }
    }

    & table {
        border-collapse: collapse;
        width: 100%;

        & th,
        & td {
            border: 1px solid gray(200);
            padding: calc(var(--spacer-size) / 2);
        }

        & tr:nth-child(even) {
            background-color: gray(240);
        }

        & th {
            padding-top: calc(var(--spacer-size) / 2);
            padding-bottom: calc(var(--spacer-size) / 2);
            background-color: var(--color-dark);
            color: white;
            font-family: "Montserrat", system-ui;
            text-transform: uppercase;
            font-weight: 300;
        }
    }

    & code {
        background-color: var(--color-dark);
        color: var(--color-editor-red);
        padding: 0 5px 2px;
        top: -1px;
        margin: 0 3px 0 1px;
        font-size: 90%;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    & pre {
        border-radius: 0 0 var(--radius-size) var(--radius-size);
        margin-bottom: calc(var(--spacer-size) / 1.5);
        & code {
            background: none;
            color: var(--color-editor-light-gray);
            border-radius: 0;
            padding: 0;
            position: initial;
            margin: 0;
            font-size: initial;
            overflow-wrap: initial;
            word-wrap: initial;
        }
    }

    & img {
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.5);
        border-radius: var(--radius-size);
    }

    & figure {
        align-self: center;
    }

    & figcaption {
        display: block;
        text-align: center;
        color: gray(150);
        margin-top: calc(var(--spacer-size) / 3);
        font-size: ;
    }

    @media (--screen-1024) {
        padding: var(--spacer-size) 0 var(--spacer-size);
        display: flex;
        flex-direction: column;

        & p,
        & ul,
        & ol,
        & blockquote {
            font-size: var(--xl-text);
            line-height: calc(var(--xl-text) + 12px);
        }

        & .kg-width-wide img {
            max-width: 85vw;
        }

        & .kg-width-full img {
            max-width: 100vw;
            border-radius: 0;
            box-shadow: none;
        }
    }
}

.content--page {
    padding: var(--spacer-size);
}

.optionList {
    background-color: var(--color-dark);
    padding: var(--spacer-size);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: var(--spacer-size);

    & .option__link {
        box-shadow: none;
        width: 80%;
        margin-bottom: var(--spacer-size);
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        color: white;

        &:last-child  {
            margin-bottom: 0;
        }

        & .option__icon {
            margin-right: calc(var(--spacer-size) / 3);
        }
    }

    & .opt--support {
        background: var(--color-yellow);
        color: var(--color-dark);
    }

    & .opt--demo {
        background: var(--color-blue);
    }

    & .opt--code {
        background: var(--color-purple);
    }

    & .opt--source {
        background: var(--color-pink);
    }

    @media (--screen-425) {
        & .option__link {
            width: 47%;

            &:nth-last-child(2n) {
                margin-bottom: 0;
            }
        }
    }

    @media (--screen-768) {
        & .option__link {
            width: 23%;
            margin-bottom: 0;
        }
    }

    @media (--screen-1024) {
        & .option__link {
            width: 20%;
            margin-bottom: 0;
        }
    }
}

.editor-title {
    background-color: var(--color-editor-dark);
    border-radius: var(--radius-size) var(--radius-size) 0 0;
    padding: calc(var(--spacer-size) / 3) calc(var(--spacer-size) / 2);

    & .editor-title__text  {
        font-size: var(--lg-text);
        color: white;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.kg-embed-card {
    margin-top: var(--spacer-size);
    margin-bottom: calc(var(--spacer-size) * 2);

    & iframe,
    & .twitter-tweet {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    & .twitter-tweet,
    & .instagram-media {
        @media (--screen-768) {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

.flex-video {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    margin-top: var(--spacer-size);
    margin-bottom: calc(var(--spacer-size) * 2);

    & iframe,
    & object,
    & embed,
    & video {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: calc(var(--spacer-size) / 2.5);
    margin-bottom: calc(var(--spacer-size) / 1.5);

    & .gallery__image {
        max-width: 400px;
        margin-bottom: var(--spacer-size);
    }
}

.table-container {
    overflow-x: auto;
}

.event {
    margin-bottom: var(--spacer-size);

    & .event__date {
        font-weight: 300;
        font-size: var(--lg-text);
        color: gray(150);
    }

    & .event__details {
        & .event__title {
            margin-top: 0;
            margin-bottom: calc(var(--spacer-size) / 3);
            font-weight: 300;
        }

        & .event__tag {
            background-color: var(--color-blue);
            color: white;
            border-radius: var(--radius-size);
            padding: 4px 8px;
        }
    }

    @media (--screen-768) {
        & .event__details {
            & .event__title {
                display: inline-block;
                margin-bottom: 0;
                vertical-align: middle;
            }

            & .event__tag {
                vertical-align: middle;
                margin-left: calc(var(--spacer-size) / 3);
            }
        }
    }
}

.disqus {
    padding: var(--spacer-size) var(--spacer-size) 0;
    background-color: var(--color-dark);

    & a {
        color: white;
    }

    & .disqus__title {
        margin-bottom: calc(var(--spacer-size) / 2);
        & .disqus__text {
            font-family: "Montserrat", system-ui;
            display: block;
            color: white;
            font-size: var(--xl-title);
        }
    }

    & .dq-comments {
        padding: var(--spacer-size) 0;
    }
}
