{{!------------------------------------}}
          {{!-- Author --}}
{{!------------------------------------}}

{{!< default-author }}

<section class="cover">
    {{> "cover-author" }}
</section>

{{!-- Loop: The main content area on the author --}}
<section id='article-wrapper' class='article-wrapper wrap-center' role='main'>
    {{> 'article'}}
</section>