{{!< default }}

{{#author}}
    <section class="cover {{#if cover_image}}isCoverEnable"
        style="background-image: url({{cover_image}}){{else}}isCoverDisabled{{/if}}">

        {{> "cover-filtered" }}

    </section>
{{/author}}

<main id="site-main" class="site-main" role="main">
    <section class="site-main-container u-content-center">
        <div class="site-main-wrapper">
            {{> "post-card-filtered"}}
        </div>
    </section>
</main>

{{#if @labs.members}}
    <section class="subscription">
        {{> subscription }}
    </section>
{{/if}}