{{!< default }}

<section class="cover {{#if @site.cover_image}}isCoverEnable"
  style="background-image: url({{@site.cover_image}}){{else}}isDisabled{{/if}}">

  {{> "cover" title="Bits" description="Una colección de imágenes que explican diferentes conceptos entorno a desarrollo web. Sus principales características es que sean cortos, directos y fáciles de digerir, he de ahí el nombre (Bits). Espero que
  estos te sean de ayuda, como introducción, guía o simplemente para repasar conceptos." }}

</section>

<main id="site-main" class="site-main" role="main">
  <section class="site-main-container u-content-center">
    <div class="site-main-wrapper site-main-wrapper--bits-page">
      {{> "post-card-bits"}}
    </div>
  </section>
</main>

{{#if @labs.members}}
  <section class="subscription">
    {{> subscription }}
  </section>
{{/if}}