{{!--
    Template: Index

    This is the standard template for a list of posts.
    It is used by default for the home page and subsequent pages of blog posts.
--}}

{{!--
    default-home
    main structure of the templates
    Important: The code below is not a comment
--}}

{{!< default }}

{{!-- Cover layout --}}
<section class="cover {{#if @site.cover_image}}image--enable"
    style="background-image: url({{@site.cover_image}}){{else}}image--disable{{/if}}">
  {{> "cover" }}
</section>

{{!-- Articles --}}
{{!-- <section id='article-wrapper' class='article-wrapper u-wrap-center' role='main'>

  {{#get "posts" limit="1" include="tags,authors" filter="featured:true"}} 
    {{> 'post-feature'}}
  {{/get}}

  {{#get "posts" limit="3" filter="primary_tag:bit"}}
    {{> "post-card"}}
  {{/get}}
  
  {{#get "posts" limit="3" include="tags,authors" filter="primary_tag:blog"}}
  {{> "post-card"}}
  {{/get}}
  
  {{#get "posts" limit="3" filter="primary_tag:video"}}
  {{> "post-card"}}
  {{/get}}

</section> --}}
{{!-- Pagination  --}}
{{!-- <section class="pagination u-center-content">
  {{"pagination"}}
</section> --}}