{{!--
    Template: Index

    This is the standard template for a list of posts.
    It is used by default for the home page and subsequent pages of blog posts.
--}}

{{!--
    default-home
    main structure of the templates
    Important: The code below is not a comment
--}}

{{!< default-home }}

{{!-- Cover layout --}}
<section class="cover">
  {{> "cover" }}
</section>


{{!-- Articles --}}
<section id='article-wrapper' class='article-wrapper u-wrap-center' role='main'>

  {{#get "posts" limit="1" include="tags,authors" filter="featured:true"}} 
    {{> 'article-feature'}}
  {{/get}}

  {{#get "posts" limit="3" filter="primary_tag:bit"}}
  {{> "article-block"}}
  {{/get}}
  
  {{#get "posts" limit="3" include="tags,authors" filter="primary_tag:blog"}}
  {{> "article-block"}}
  {{/get}}
  
  {{#get "posts" limit="3" filter="primary_tag:video"}}
  {{> "article-block"}}
  {{/get}}

</section>
{{!-- Pagination  --}}
{{!-- <section class="pagination u-center-content">
  {{"pagination"}}
</section> --}}