{{!--
    Template: Index

    This is the standard template for a list of posts.
    It is used by default for the home page and subsequent pages of blog posts.
--}}

{{!--
    default-home
    main structure of the templates
    Important: The code below is not a comment
--}}

{{!< default }}

{{!-- Cover layout --}}
<section class="cover {{#if @site.cover_image}}image--enable"
    style="background-image: url({{@site.cover_image}}){{else}}image--disable{{/if}}">
  
  {{> "cover-card" }}

</section>

{{!-- Articles --}}
<section id='post-card-wrapper' class='post-card-wrapper' role='main'>

  {{!-- {{#get "posts" limit="1" include="tags,authors" filter="featured:true"}} 
    {{> 'post-feature'}}
  {{/get}} --}}

  <section class="post-card-container card--blog u-wrap-center">
    {{#get "posts" limit="5" include="tags,authors" filter="primary_tag:blog"}}
      {{> "post-card"}}
    {{/get}}
  </section>

  <section class="post-card-container card--bits">
    {{#get "posts" limit="3" include="tags" filter="primary_tag:bit"}}
      {{> "post-card-bit"}}
    {{/get}}
  </section>

  <section class="post-card-container card--video">
    {{#get "posts" limit="3" include="tags" filter="primary_tag:video"}}
      {{> "post-card"}}
    {{/get}}
  </section>

  
  

</section>
{{!-- Pagination  --}}
{{!-- <section class="pagination u-center-content">
  {{"pagination"}}
</section> --}}