{{!------------------------------------}}
          {{!-- Index --}}
{{!------------------------------------}}

{{!< default-home }}

{{!-- Cover: Blog cover image --}}
<section class="cover">
    {{> "cover" }}
</section>

{{!-- Loop: The main content area on the homepage --}}
<section id='article-wrapper' class='article-wrapper u-wrap-center' role='main'>
    {{> 'article'}}
</section>

<section class="pagination">
    {{"pagination"}}
</section>