{{!-- Default --}}
{{!< default }}

{{!-- Header --}}
<header class='header'>
    {{> 'header' }}
</header>

<section class='menu'>
    {{> 'menu' }}
</section>

<section class='cover {{#if @blog.cover}}' style='background-image: url({{@blog.cover}}){{/if}}'>
    {{> 'cover' }}
</section>

<section id='post-wrapper' class='post-wrapper' role='main'>
    {{> 'loop'}}
</section>

<nav class="pagination" role="navigation">
    {{pagination}}
</nav>

<section id='mc_embed_signup'>
    {{> 'subscribe' }}
</section>


<footer class="footer">
    {{> "footer"}}
</footer>

