{{!-- Default --}}
{{!< default}}

{{!-- Header --}}
{{> 'header' }}


{{> "menu"}}

{{> "cover"}}

<section id='post-wrapper' class='post-wrapper' role='main'>
    {{> "loop"}}
</section>

{{!-- {{> "newsletter"}}

{{pagination}}

{{> "footer"}} --}}

