{{!-- Default --}}
{{!< default }}

{{!-- Header --}}
<header class='header'>
    {{> 'header' }}
</header>

<section id='post-wrapper' class='post-wrapper wrap-center' role='main'>
    {{> 'loop'}}
</section>

<nav class="pagination" role="navigation">
    {{pagination}}
</nav>

<section id='mc_embed_signup'>
    {{> 'subscribe' }}
</section>


<footer class="footer">
    {{> "footer"}}
</footer>

