{{!------------------------------------}}
          {{!-- Index --}}
{{!------------------------------------}}

{{!< default-home }}

{{!-- Cover: Blog cover image --}}
<section class='cover {{#if @blog.cover_image}}cover--index' style='background-image: url({{@blog.cover_image}}){{/if}}'>
    {{> 'cover'}}
</section>

{{!-- Loop: The main content area on the homepage --}}
<section id='post-wrapper' class='post-wrapper wrap-center' role='main'>
    {{> 'loop'}}
</section>

{{!-- Pagination: Pages of the blog --}}
<nav class='pagination' role='navigation'>
    {{pagination}}
</nav>

{{!-- Subscribe: tools for collecting emails from the blog --}}
<section id='mc_embed_signup'>
    {{> 'subscribe' }}
</section>
