{{!< default}}

{{> "header"}}

{{> "cover"}}

{{> "menu"}}

{{> "search"}}

<section class="code">
    <strong class="code__title">¿Qué te gustaría aprender hoy?</strong>
    
    <section class="code__languages">

        <figure class="language languages__html">
            <a href="#"><img src='{{asset "images/html.png"}}' alt="html"></a>
            <figcaption>
                <a href="#">HTML</a>
            </figcaption>
        </figure>

        <figure class="language languages__css">
            <a href="#"><img src='{{asset "images/css.png"}}' alt="css"></a>
            <figcaption>
                <a href="#">CSS</a>
            </figcaption>
        </figure>

        <figure class="language languages__javascript">
            <a href="#"><img src='{{asset "images/javascript.png"}}' alt="javascript"></a>
            <figcaption>
                <a href="#">JavaScript</a>
            </figcaption>
        </figure>

    </section>
</section>

<section id="post__content" class="post__content" role="main">
    {{> "loop"}}
</section>

{{> "newsletter"}}

{{pagination}}

{{> "footer"}}

