{{!-- Default --}}
{{!< default }}

{{!-- Header --}}
<header class='header'>
    {{> 'header' }}
</header>

<section class='menu'>
    {{> 'menu' }}
</section>

{{#post}}
<section class='cover {{#if image}} cover-post' style='background-image: url({{image}}){{/if}}'>
    {{> 'cover-post'}}
</section>

<main class='article-wrapper' role='main'>
    <article class="article {{post_class}}">

        <section class="article__content">
            {{content}}
        </section>
        
    </article>
</main>

<section id='mc_embed_signup'>
    {{> 'subscribe' }}
</section>

<footer class="footer">
    {{> "footer"}}
</footer>

{{/post}}