{{!------------------------------------}}
          {{!-- Post --}}
{{!------------------------------------}}

{{!< default-post }}

{{#post}}
{{!-- Cover: Post cover image --}}
<section class="cover">
    {{> "cover-post"}}
</section>

{{!-- Post content wrap --}}
<main class='post-wrapper u-wrap-center' role='main'>
    <article class='post'>

        {{!-- Content of the post --}}
        <section class='post__content'>
            {{content}}
        </section>

    </article>
</main>

{{/post}}