
{{!--
    Template: Post

    This is the template for a single post.
--}}

{{!--
    default-post
    main structure of the templates
    Important: The code below is not a comment
--}}

{{!< default-post }}

{{#post}}

{{!-- Cover layout --}}
<section class="cover">
    {{> "cover-post"}}
</section>

{{!-- Single Post --}}
<main class='post-wrapper u-wrap-center' role='main'>
    <article class='post'>

        {{!-- Content of the post --}}
        <section class='post__content'>
            {{content}}
        </section>

    </article>
</main>

{{!-- Comment (Disqus) --}}
<section class='disqus'>
    {{> 'disqus'}}
</section>

{{/post}}
