{{!< default }}

{{#post}}

    <section class="cover cover--post {{#if feature_image}}isCoverEnable"
        style="background-image: url({{feature_image}}){{else}}isCoverDisabled{{/if}}">

        {{> "cover-posts" }}

    </section>

    {{!-- Single Post --}}
    <main class='post-wrapper u-content-center' role='main'>
        <article class='post'>

            {{!-- Content of the post --}}
            <section class='post__content'>
                {{content}}
            </section>

        </article>
    </main>

    {{#if @labs.members}}
        <section class="subscription">
            {{> subscription }}
        </section>
    {{/if}}

    {{!-- Comment (Disqus) --}}
    <section class='disqus'>
        {{> 'disqus'}}
    </section>

{{/post}}