{{!------------------------------------}}
          {{!-- Tag --}}
{{!------------------------------------}}

{{!< default-tag }}
<section class="cover">
    {{> "cover-tag" }}
</section>

{{!-- Loop: The main content area on the author --}}
<section id='article-wrapper' class='article-wrapper u-wrap-center' role='main'>
    {{> 'article'}}
</section>