{{!-- Sitio para artículos estaticos --}}

{{!< default}}

{{!-- Header --}}
{{> "header"}}

{{!-- Portada --}}
{{> "cover-tags"}}

{{!-- Menú --}}
{{> "menu"}}

{{!-- Busqueda --}}
{{> "search"}}


{{!-- Contenido --}}
<main class="post__content" role="main">

    {{> "loop"}}

</main>

{{!-- Paginación --}}
{{pagination}}

{{!-- Footer --}}
{{> "footer"}}
