@import "../../global/media-queries.css";

.cover {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 50vh;

    &.isCoverEnable {
        background-size: cover;
        background-position: center;
        z-index: 0;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(22, 25, 37, 0.6);
            z-index: -1;
        }
    }

    &.isCoverDisabled {
        background: var(--color-dark);
        color: white;
    }

    @media (--screen-1024) {
        min-height: 60vh;
    }
}

.cover-container {
    width: 100%;
    padding: 0 var(--spacer);
    color: white;

    & .cover__introduction {
        margin-bottom: calc(var(--spacer) / 2);

        & span {
            font-weight: 300;
        }

        & strong {
            font-weight: 700;
        }
    }

    & .cover__description {
        margin-bottom: var(--spacer);

        & .cover__text {
            font-weight: 400;
        }
    }

    & .cover__social {
        display: flex;
        flex-wrap: wrap;

        & .cover__link {
            margin-right: calc(var(--spacer) / 2);
        }
    }

    @media (--screen-768) {
        & .cover__social {
            & .cover__link {
                margin-right: var(--spacer);
            }
        }
    }

    @media (--screen-1024) {
        padding: 0;

        & .cover__introduction {
            margin-bottom: var(--spacer);
        }

        & .cover__description {
            width: 50%;
            margin-bottom: calc(var(--spacer) * 2);
            line-height: 1.5;
        }
    }

    @media (--screen-1200) {
        & .cover__description {
            width: 60%;
        }
    }
}
