@import "../../global/media-queries.css";

.cover-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;

    & .cover__introduction {
        & h1 {
            font-weight: 700;
        }
    }

    & .cover__header,
    & .cover__footer {
        display: flex;
    }

    & .cover__header {
        flex-wrap: wrap;

        & .cover__tag {
            width: 100%;
            margin-bottom: calc(var(--spacer) / 2);
        }
    }

    & .cover__footer {
        justify-content: space-between;
        align-items: center;
    }

    @media (--screen-768) {
        & .cover__introduction,
        & .cover__header {
            margin-bottom: calc(var(--spacer) * 2);
        }

        & .cover__introduction {
            max-width: 75%;
        }

        & .cover__header {
            justify-content: space-between;
            align-items: center;

            & .cover__tag {
                width: auto;
                margin-bottom: 0;
            }
        }
    }

    @media (--screen-1200) {
        & .cover__introduction,
        & .cover__header {
            margin-bottom: calc(var(--spacer) * 3);
        }
    }
}

.cover__share {
    & .share__button,
    & .share__facebook,
    & .share__twitter {
        border-radius: 4px;
        padding: 0 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        vertical-align: top;
        font-size: 13px;
        color: white;

        & svg {
            margin-right: 0.3rem;
        }
    }

    & .share__facebook,
    & .share__twitter {
        display: none;
    }

    & .share__button {
        background-color: white;
        color: var(--color-dark);
        padding: 0 12px;
    }

    & .share__facebook {
        background-color: var(--color-facebook);
        margin-right: 0.5rem;
    }

    & .share__twitter {
        background-color: var(--color-twitter);
    }

    @media (--screen-768) {
        & .share__facebook {
            margin-right: calc(var(--spacer) / 2);
        }
    }

    @media (--screen-1024) {
        & .share__facebook,
        & .share__twitter {
            display: inline-flex;
        }

        & .share__button {
            display: none;
        }
    }
}
