@font-face {
    font-family: "icons";
    src: url("icons.eot"); /* IE9 */
    src: url("icons.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("icons.woff") format("woff"), /* chrome, firefox */
    url("icons.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("icons.svg#icons") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


