// Fonts

$font-nutito = 'Nunito', sans-serif
$font-lato = 'Lato', sans-serif

// Colors

$color-black =#1B1B1B
$color-dark = #50514F
$color-red = #F25F5C
$color-yellow = #FFE066
$color-blue = #299FD3
$color-green = #70C1B3
$color-gray-C = #9998A4
$color-gray-B = #E1E4E7
$color-gray-A = #F5F5F5
$color-white = #F8FBFB

$color-warning = #E5532E
$color-tip = #4EB596


// ----------- $Media queries -----------

// Phone Extra Small
$phone-xs = 320px
$mq-phone-xs = 'only screen and (min-width:' + $phone-xs + ')'

// Phone Small
$phone-sm = 360px
$mq-phone-sm = 'only screen and (min-width:' + $phone-sm + ')'

// Phone Medium 
$phone-md = 375px
$mq-phone-md = 'only screen and (min-width:' + $phone-md + ')'

// Phone Large 
$phone-lg = 412px
$mq-phone-lg = 'only screen and (min-width:' + $phone-lg + ')'

// Tablet Extra Small 
$tablet-xs = 600px
$mq-tablet-xs = 'only screen and (min-width:' + $tablet-xs + ')'

// Tablet Small 
$tablet-sm = 640px
$mq-tablet-sm = 'only screen and (min-width:' + $tablet-sm + ')'

// Tablet Medium 
$tablet-md = 768px
$mq-tablet-md = 'only screen and (min-width:' + $tablet-md + ')'

// Tablet Large & Desktop Extra Small
$desktop-xs = 1024px
$mq-desktop-xs = 'only screen and (min-width:' + $desktop-xs + ')'

// Desktop Small
$desktop-sm = 1200px
$mq-desktop-sm = 'only screen and (min-width:' + $desktop-sm + ')'

// Desktop Medium ...
$desktop-md = 1300px
$mq-desktop-md = 'only screen and (min-width:' + $desktop-md + ')'