// Fonts

$font-nutito = 'Nunito', sans-serif
$font-lato = 'Lato', sans-serif

// Colors

$color-black =#1B1B1B
$color-dark = #50514F
$color-red = #F25F5C
$color-yellow = #FFE066
$color-blue = #299FD3
$color-green = #70C1B3
$color-gray-C = #9998A4
$color-gray-B = #E1E4E7
$color-gray-A = #F5F5F5
$color-white = #F8FBFB

$color-warning = #E5532E
$color-tip = #4EB596


// ----------- $Media queries -----------

// Phone Extra Small
$phone-320 = 320px
$mq-phone-min-320 = 'only screen and (min-width:' + $phone-220 + ')'

// Phone Small
$phone-360 = 360px
$mq-phone-min-360 = 'only screen and (min-width:' + $phone-360 + ')'
$mq-phone-max-360 = 'only screen and (max-width:' + $phone-360 + ')'

// Phone Medium 
$phone-375 = 375px
$mq-phone-min-375 = 'only screen and (min-width:' + $phone-375 + ')'
$mq-phone-max-375 = 'only screen and (max-width:' + $phone-375 + ')'

// Phone Large 
$phone-412 = 412px
$mq-phone-min-412 = 'only screen and (min-width:' + $phone-412 + ')'
$mq-phone-max-412 = 'only screen and (max-width:' + $phone-412 + ')'

// Tablet Extra Small 
$tablet-600 = 600px
$mq-tablet-min-600 = 'only screen and (min-width:' + $tablet-600 + ')'
$mq-tablet-max-600 = 'only screen and (max-width:' + $tablet-600 + ')'

// Tablet Small 
$tablet-640 = 640px
$mq-tablet-min-640 = 'only screen and (min-width:' + $tablet-640 + ')'
$mq-tablet-max-640 = 'only screen and (max-width:' + $tablet-640 + ')'

// Tablet Medium 
$tablet-750 = 750px
$mq-tablet-min-750 = 'only screen and (min-width:' + $tablet-750 + ')'
$mq-tablet-max-750 = 'only screen and (max-width:' + $tablet-750 + ')'

// Tablet Large & Desktop Extra Small
$desktop-1024 = 1024px
$mq-desktop-min-1024 = 'only screen and (min-width:' + $desktop-1024 + ')'
$mq-desktop-max-1024 = 'only screen and (max-width:' + $desktop-1024 + ')'

// Desktop Small
$desktop-1200 = 1200px
$mq-desktop-min-1200 = 'only screen and (min-width:' + $desktop-1200 + ')'
$mq-desktop-max-1200 = 'only screen and (max-width:' + $desktop-1200 + ')'

// Desktop Medium ...
$desktop-1300 = 1300px
$mq-desktop-min-1300 = 'only screen and (min-width:' + $desktop-1300 + ')'
$mq-desktop-max-1300 = 'only screen and (max-width:' + $desktop-1300 + ')'