// Fonts

$font-nutito = 'Nunito', sans-serif
$font-lato = 'Lato', sans-serif

// Colors

$color-black =#1B1B1B
$color-dark = #50514F
$color-red = #F25F5C
$color-yellow = #FFE066
$color-blue = #247BA0
$color-green = #70C1B3