@import "../../utilities/u-media-queries.css";

.subscribe {
    --dinamic-spacer-size: 1.5em;
    --btn-size: calc(var(--btn-height) - 8px);

    margin-bottom: var(--spacer-size);

    & .subscribe-wrapper {
        position: relative;
        font-size: var(--lg-text);
        height: var(--btn-height);

        & .subscribe__email {
            background-color: white;
            width: 100%;
            border-radius: var(--radius-size-full);
            padding: 0 calc(var(--dinamic-spacer-size) / 1.5 + 30px) 0 calc(var(--dinamic-spacer-size) / 1.5);
            box-shadow: 5px 5px 10px color(black alpha(0.5));
            height: 100%;
            line-height: var(--btn-height);
        }
    }

    @media (--tablet-768) {
        & .subscribe-wrapper {
            max-width: 350px;
        }
    }

    @media (--desktop-1200) {
        & .subscribe-wrapper {
            max-width: 400px;
        }
    }
}

.subscribe__button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(var(--dinamic-spacer-size) / 2);
    border-radius: 50%;
    width: var(--btn-size);
    height: var(--btn-size);
    background-image: linear-gradient(130deg, var(--color-yellow) 0%, var(--color-pink) 100%);
    cursor: pointer;
    margin: auto 0;
    box-shadow: 2.5px 2.5px 5px color(black alpha(0.5));

    & .subscribe__icon {
        color: white;
    }
}