@import "./media-queries.css";

@custom-selector :--buttons
    a[class*="btn"],
    button[class*="btn"],
    input[class*="btn"];
@custom-selector :--buttons-secondary
    a[class*="btn-secondary"],
    button[class*="btn-secondary"],
    input[class*="btn-secondary"];
@custom-selector :--buttons-alternative
    a[class*="btn-alternative"],
    button[class*="btn-alternative"],
    input[class*="btn-alternative"];

:--buttons {
    background-color: var(--color-dark);
    display: inline-flex;
    color: white;
    padding: 0 var(--spacer);
    height: var(--btn-height-size);
    line-height: var(--btn-height-size);
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-right: 8px;
    margin-bottom: 8px;
    justify-content: center;
    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        padding: inherit;
        height: inherit;
        background: none;
        border: 1px solid var(--color-dark);
        top: 8px;
        left: 8px;
        width: 100%;
        display: inline-block;
        z-index: -1;
    }
}

:--buttons-secondary {
    background-color: white;
    color: var(--color-dark);

    &:after  {
        border: 1px solid white;
    }
}

:--buttons-alternative {
    background-color: white;
    color: var(--color-dark);

    &:after {
        background-color: var(--color-dark);
    }
}
