@import "./media-queries.css";

:root {
    /* Fonts */

    --font-size-h1: clamp(25px, 4vw, 28px);
    --font-size-h2: clamp(23px, 4vw, 26px);
    --font-size-h3: clamp(21px, 4vw, 24px);

    --font-size-large: clamp(30px, 4vw, 40px);
    --font-size-xlarge: clamp(30px, 4vw, 60px);

    --font-size-medium: clamp(17px, 4vw, 20px);
    --font-size-default: clamp(16px, 4vw, 17px);
    --font-size-small: clamp(15px, 4vw, 16px);
    --font-size-xsmall: clamp(14px, 4vw, 15px);
    --font-size-code: clamp(13px, 4vw, 14px);

    /* Brand Colors */
    --color-dark: #282b39;
    --color-dark-b: #363a4b;
    --color-yellow: #ffd166;
    --color-yellow-alpha: #ffd16670;
    --color-blue: #5bc0eb;
    --color-pink: #ea5a7c;

    /* Light colors */
    --color-light: #f7fff7;
    --color-gray: #edf2f4;
    --color-gray-b: #b1b1b1;

    /* Interactive colors */

    /* Denotive colors (states) */
    --color-error: #ee6969;
    --color-sucess: #06d6a0;
    --color-disabled: #dddddd;
    --color-disabled-dark: #cccccc;

    /* Spacer */
    --spacer: 1.5rem;

    /* Others */
    --border-radius-default: 5px;
    --shadow-default: 6px 6px 8px color(black alpha(0.2));
    --btn-height-size: 45px;
}
