@import "../utilities/u-media-queries.css";

.u-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-display-in-block {
    display: inline-block;
}

.u-no-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.u-mg-rt-5em {
    margin-right: 0.5rem;
}

@media (--desktop-1024) {
    .u-wrap-center {
        margin: 0 auto;
        max-width: 900px;
    }
}

@media (--desktop-1200) {
    .u-wrap-center {
        max-width: 1000px;
    }
}