.u-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-display-in-block {
    display: inline-block;
}

.u-no-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.u-mg-rt-5em {
    margin-right: 0.5em;
}