button[class*='btn-']
a[class*='btn-']
input[class*='btn-']
    padding 0.7rem 1.3rem
    font-weight 300
    text-transform uppercase
    
button[class*='default']
a[class*='default']
input[class*='default']
    background $color-blue
    color $color-white
    
button[class*='--radius']
a[class*='--radius']
input[class*='--radius']
    border-radius 20px
    
