body
    font-family $FontDefault
    background #EBEBEB

figure
    margin 0
    
h1, h2, h3, h4, h5, h6
    font-family $FontTitles
    
h2, h3,h4, h5, h6
    color $ColorDark
    text-rendering geometricPrecision
    margin 2rem 0 0.8rem 0
    
h2
    font-size 2rem

h3
    font-size 1.8rem

h4
    font-size 1.6rem

h5  
    font-size 1.4rem

h6
    font-size 1.2rem
    
a
    text-decoration none
    color $ColorBlue
    
p, ul, ol, dl
    font-feature-settings 'liga' 1, 'onum' 1, 'kern' 1
    margin 0.8rem 0 0.8rem 0
    text-rendering geometricPrecision
    
ol, ul
    padding-left 3rem
    
ol ol, ul ul,
ul ol, ol ul
    margin 0 0 0.4em 0
    padding-left 2em
    
dl dt
    float left
    width 180px
    overflow hidden
    clear left
    text-align right
    text-overflow ellipsis
    white-space nowrap
    font-weight 700
    margin-bottom: 1em


dl dd
    margin-left 200px
    margin-bottom 1em

hr
    display block
    height 1px
    border 0
    border-top $ColorDark 1px solid
    padding 0

blockquote
    box-sizing border-box
    width 100%
    margin 1rem 0
    padding 0 0 0 0.5rem
    border-left $ColorGray-2 3px solid
    color $ColorGray-2


blockquote p
    margin 0.8em 0
    padding 0.7rem 0 0.7rem 0

blockquote small
    display inline-block
    margin 0.8em 0 0.8em 1.5em
    font-size 0.9em
    color $ColorGray-2

blockquote cite 
    font-weight 700


blockquote cite a 
    font-weight normal

mark
    background-color #fdffb6

code
    padding 2px 5px
    white-space pre-wrap
    display inline-block
    background $ColorDark
    border-radius 3px
    color $ColorBlue
    
table
    box-sizing border-box
    margin 1.75em 0
    width 100%
    max-width 100%
    background-color: transparent

table th,
table td 
    padding 8px
    line-height 20px
    text-align left
    vertical-align top
    border-top #EFEFEF 1px solid


table th
    color #000

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td
    border-top 0

table tbody + tbody
    border-top: #EFEFEF 2px solid

table table table
    background-color: #FFF

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th
    background-color #F6F6F6

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th
   background: transparent

strong[class*="title"]
    font-family 'Raleway', sans-serif
    font-weight 800
    
ul[class*="list"]
    list-style none
    padding 0
    margin 0
    
.icon
    background none
    border none
    
.btn-default
    padding 0.8rem 2rem
    background none
    border 1px solid $ColorDark
    box-shadow 3px 3px 0px $ColorDark
    text-transform uppercase
    
@media all and (min-width 1080px)
    h2, h3,h4, h5, h6
        margin 2rem 0 1rem 0
        
    h2
        font-size 2.2rem

    h3
        font-size 2rem

    h4
        font-size 1.8rem

    h5  
        font-size 1.6rem

    h6
        font-size: 1.4rem