@font-face{ 
	font-family: 'Bariol';
	src: url('../fonts/bariol.eot');
	src: url('../fonts/bariol.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bariol.woff') format('woff'),
		 url('../fonts/bariol.ttf') format('truetype'),
		 url('../fonts/bariol.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'BariolBold';
	src: url('../fonts/bariolBold.eot');
	src: url('../fonts/bariolBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bariolBold.woff') format('woff'),
		 url('../fonts/bariolBold.ttf') format('truetype'),
		 url('../fonts/bariolBold.svg#webfont') format('svg');
}