
/*
 Based on great Codrops article: http://tympanus.net/Development/OffCanvasMenuEffects/sideslide.html
*/

.menu-container
.content-wrap
    overflow hidden
    width 100%
    height 100%

.menu-container
    .menu-wrap
        position fixed
        top 0
        right 0
        z-index 1001
        width 18.75rem
        height 100%
        background #23222d
        padding 2.5em 1.5em 0
        font-size 1.15em
        transform translate3d(100%, 0, 0)
        transition transform 0.4s
        transition-timing-function cubic-bezier(0.7, 0, 0.3, 1)

        a
            color white
            
            &:hover
            &:focus
                color #cccccc

        .close-button
            width 1em
            height 1em
            position absolute
            right 0.9375rem
            top 1.5625rem
            overflow hidden
            text-indent 1em
            font-size 0.75em
            border none
            background transparent
            color transparent
            outline none
            
            &::after
            &::before
                content ''
                position absolute
                width 3px
                height 100%
                top 0
                left 50%
                background white
                
            &::after
                transform rotate(-45deg)

            &::before
                transform rotate(45deg)

.menu
    margin-top 30%

.menu
.icon-list
    height 100%

.icon-list
    transform translate3d(0, 100%, 0)
    transition transform 0s 0.4s
    transition-timing-function cubic-bezier(0.7, 0, 0.3, 1)

    a
        display block
        padding 0.8em
        transform translate3d(0, 31.25rem, 0)
        transition transform 0s 0.4s
        transition-timing-function cubic-bezier(0.7, 0, 0.3, 1)

        &:nth-child(2)
            transform translate3d(0, 62.5rem, 0)

        &:nth-child(3)
            transform translate3d(0, 125rem, 0)

        &:nth-child(4)
            transform translate3d(0, 187.5rem, 0)

        &:nth-child(5)
            transform translate3d(0, 250rem, 0)

        &:nth-child(6)
            transform translate3d(0, 312.5rem, 0)

        &:hover
        &:active
        &:focus
          text-decoration none
            
        span
            margin-left 0.625rem
            font-weight 700

.show-menu
    .menu-wrap
        transform translate3d(0, 0, 0)
        transition transform 0.8s
        transition-timing-function cubic-bezier(0.7, 0, 0.3, 1)
        
    .icon-list
    .icon-list a
        transform translate3d(0, 0, 0)
        transition transform 0.8s
        transition-timing-function cubic-bezier(0.7, 0, 0.3, 1)
        
    .icon-list 
        a
            transition-duration 0.9s

.menu-overlay
    width 100%
    height 100%
    position fixed
    top 0
    left 0
    z-index 999
    display none
    background-color transparent
  
.visible
    display block

html[data-useragent*='Android 4.0'] .menu-container .menu-wrap
html[data-useragent*='Android 4.1'] .menu-container .menu-wrap
html[data-useragent*='Android 4.2'] .menu-container .menu-wrap
    right -20rem !important
    transform none !important

html[data-useragent*='Android 4.0'] .show-menu .menu-wrap
html[data-useragent*='Android 4.1'] .show-menu .menu-wrap
html[data-useragent*='Android 4.2'] .show-menu .menu-wrap
    right 0 !important
    
html[data-useragent*='Android 4.0'] .icon-list
html[data-useragent*='Android 4.1'] .icon-list
html[data-useragent*='Android 4.2'] .icon-list
    transform none !important