@import normalize
@import variables
@import default
@import syntax

/*------------------------------------*\
    $PROGRESS
\*------------------------------------*/

progress
    position fixed
    left 0
    top 0
    width 100%
    height 4px
    appearance none
    border none
    background-color transparent
    color $ColorBlue
    z-index 2000
    
progress::-webkit-progress-bar 
    background-color transparent


progress::-webkit-progress-value 
     background-color $ColorBlue


progress::-moz-progress-bar 
     background-color $ColorBlue


/*------------------------------------*\
    $HEADER
\*------------------------------------*/
        
.header
    background-color $ColorDark
    color white
    padding 0.5rem 0.3rem
    position fixed
    width 100%
    box-sizing border-box
    border-bottom 1px solid white
    z-index 1000
    
.header-wrap
    display flex
    justify-content space-between
    
.header__title
    display flex
    justify-content flex-start
    .header__logo
        img
            width 80px
        
    .header__name
        font-size 1.5rem
        margin 0.8rem 0 0 0.3rem
        color white
    
    .nav
        display none
        
.header__options
    display flex
    justify-content flex-end
    .header__search
        margin 0.3rem 0.2rem 0 0
        .header__search
            font-size 1.6rem
            vertical-align -15%
            
    .header__menu
        font-size 1.8rem

@media all and (min-width 360px)
    .header__title
        .header__name
            font-size 1.9rem
            margin 0.5rem 0 0 0.3rem
            
    .header__options
        .header__search
            .header__input
                width 155px
                
@media all and (min-width 412px)
    .header__options
        .header__search
            .header__input
                width 200px
                
@media all and (min-width 601px)        
    .header__options
        .header__search
            .header__input
                width 180px
                
@media all and (min-width 1080px)
    .header__title
        .nav
            display block
            margin 0.8rem 0 0 1.5rem
            
            li
                display inline-block
                padding 0.5rem
                
                a
                    padding 0.5rem 0.2rem 1rem 0.2rem
                    font-weight 700
                    font-size 1.1rem
                    transition 0.3s
                    
                    &:hover
                        color white
                
    .header__options
        .header__menu
            display none

/*------------------------------------*\
    $COVER
\*------------------------------------*/

.cover
    text-align center
    background-repeat no-repeat
    background-position center
    background-size cover
    padding-top 4rem
    
    .logo
        img
            width 300px
    
    .logo__author
        margin 1rem 0 0 0
        img
            width 200px
            border-radius 50%
            border 3px solid $ColorDark
            
.info-block
    .title
        letter-spacing 5px
        font-size 2.7rem
        color $ColorGray
        font-weight 800
        
    .description
        letter-spacing 3px
        color $ColorGray
        margin 0 0 1.5rem 0
        display inline-block
    
    .info-date
        font-size 1.2rem
        span
            margin 0 0.5rem 0 0
        
.cover__social
    padding 0 0 0.5rem 0
    .cover__list
        display flex
        justify-content center
        
        .cover__item
            margin 0 0.5rem
            
            a
                color white
                font-size 1.7rem
        
@media all and (min-width 360px)
    .info-block
        .title
            font-size 3.2rem

@media all and (min-width 412px)
    .info-block
        .title
            letter-spacing 5px
            font-size 3.7rem
            
@media all and (min-width 1080px)
    .cover__tags
        height 350px !important
        
    .cover
        position relative
        height 470px
        margin 0 0 8rem 0
        background-attachment fixed
        
        .logo
            position absolute
            bottom -9.8rem
            left 1rem
            margin 0 auto
            left 0
            right 0
            
            img
                width 600px
                
        .logo__author
            margin 0
            bottom -8rem
            img
                width 300px
            
    .info-block
        padding 0 10rem
        .title
            font-size 6rem
            margin 0 0 0.5rem 0
            padding 1rem 0 0 0
            text-shadow 5px 5px 0 $ColorDark
            
        .info-date
            font-size 1.5rem
            text-shadow 2px 2px 0 $ColorDark
            font-weight 700
            
    .cover__social
        .cover__list
            .cover__item
                margin 0 1rem
                
                a
                    font-size 2.5rem
                    transition 0.3s
                    
                    &:hover
                        transform scale(1.2)
                        color $ColorDark
                        
    .cover__feddly
        img
            transition 0.3s
            &:hover
                transform scale(1.2)
                    
/*------------------------------------*\
    $MENU
\*------------------------------------*/

.menu
    background rgba($ColorDark,0.95)
    width 80%
    position fixed
    top 0
    z-index 2000
    height 100vh
    right 0
    text-align center
    display none
    overflow-y scroll
    
    .menu__close
        color white
        position absolute
        top 0.8rem
        right 1rem
        background none
        border none
        font-size 2rem
    
    .menu__logo
        margin 1rem 0
        img
            width 200px
        
    .menu__list
        padding 0 0 0 1.8rem
        li
            text-align left
            font-size 1.1rem
            padding 1rem 0 1rem 0
            text-transform uppercase
            
            a
                padding 0.5rem
                
.menu-active
    display block
        

/*------------------------------------*\
    $CODE
\*------------------------------------*/

.code
    padding 0.5rem
    text-align center
    
    &__title
        margin 1rem 0
        font-size 1.4rem
        text-transform uppercase
        display inline-block
        
    &__languages
        display flex
        justify-content space-around
        
.language
    padding 0.5rem 0.7rem
    border 4px solid white
    background-color $ColorGray
    
    img
        width 60px
        padding 0 0 0.5rem 0
        
    figcaption
        padding 0.5rem 0 0 0
        border-top 2px solid $ColorDark
        
        a
            color $ColorDark
            font-weight 700

@media all and (min-width 360px)
    .code
        &__title
            font-size 1.4rem
            letter-spacing 1px

@media all and (min-width 412px)
    .code
        &__title
            font-size 1.5rem
            letter-spacing 2px
            
    .language
        img
            width 70px
            
@media all and (min-width 1080px)
    .code
        
        &__title
            font-size 2rem
            
        &__languages
            justify-content space-around
            
    .language
        padding 0.5rem 1.5rem
        border 4px solid white
        background-color $ColorGray
        
        img
            width 128px
            
        figcaption
            padding 0.5rem 0 0 0
            border-top 3px solid $ColorDark
            
            a
                color $ColorDark
                font-weight 700
                font-size 1.2rem

    
/*------------------------------------*\
    $POSTS
\*------------------------------------*/
            
.post__content
    display flex
    justify-content space-around
    flex-wrap wrap
    max-width 1200px
    margin 0 auto
    
    .post
        box-sizing border-box
        padding 0 0 0.8rem 0
        width 100%
        margin 0.7rem 0.7rem
        background-color white
        
        .post__first
            padding 0.8rem
            text-align center
            text-transform uppercase
            letter-spacing 3px
            display none
        
        
    article:first-child
        margin 1rem 0 0 0
        background-color $ColorDark
        color white
        width 100%
        max-width 868px
        position relative
        
        .post__first
            padding 0.8rem
            text-transform uppercase
            letter-spacing 3px
            display block
            position absolute
            background-color white
            color $ColorDark
            top 0
            
        .post__cover
            max-width 640px
            border none
            
        .post__header
            border-bottom 3px solid $ColorBlue
            .post__title
                a
                    color $ColorBlue
                    
        .post__description
            display none
            
        .post__footer
            margin 0.8rem 0.5rem 0 0.5rem
            .post__author
                display block
                a
                    vertical-align top
                    margin 0.9rem 0.5rem 0 0
                    display inline-block
                    
                img
                    width 40px
                    border-radius 50%
            
        .btn-default
            border 1px solid $ColorBlue
            box-shadow 3px 3px 0px $ColorBlue
        
.post__cover
    width 100%
    max-width 412px
    background-repeat no-repeat
    background-position center
    background-size cover
    height 200px
    
.post__header
    padding 0 0 0.5rem 0
    border-bottom 3px solid $ColorDark
    margin 0 0.5rem
    
    .post__title
        margin 0.8rem 0 0 0
        a
            color $ColorDark
        
.post__description
    margin 0 0.5rem
    
.post__tags
    display none
        
.post__footer
    display flex
    justify-content space-between
    margin 0 0.5rem
    .post__author
        display none
        
@media all and (min-width 360px)
    .post__cover
        height 230px
        
@media all and (min-width 412px)
    .post__content
        .post
            width 412px
        
    .post__cover
        height 250px
        
@media all and (min-width 601px)
    .post__content
        article:first-child
            padding 0 0 1.5rem 0
            .post__cover
                height 350px
                
            .post__header
                 margin 0 2.5rem
                 .post__title
                     margin 1.5rem 0 0 0
                
            .post__footer
                margin 0.8rem 2.5rem 0 2.5rem
                                
@media all and (min-width 640px)
    .post__content
        .post
            width 46%
            .post__cover
                height 200px
                
        article:first-child
            margin 2rem 0 0 0
            padding 0
            position relative
            
            .post__first
                top -1.5rem
                left 1rem
                padding 1rem
                border 2px solid $ColorDark
                
            .post__cover
                width 49%
                height 250px
                display inline-block
                box-sizing border-box
                vertical-align bottom
            
            .post__info
                width 50%
                display inline-block
                box-sizing border-box
                vertical-align top
                
            .post__header
                 margin 0 0.5rem
                 .post__title
                     margin 1rem 0 0 0
                     
            .post__description
                display block
                
                
            .post__footer
                margin 0.8rem 0.5rem 0 0.5rem
                
@media all and (min-width 896px)
    .post__content
        .post
            width 38%
            .post__cover
                height 260px
            
@media all and (min-width 1080px)
    .post__content
        .post
            width 30%
            .post__cover
                height 200px
                
        article:first-child
            margin 2rem 0 1.5rem 0
            .post__cover
                height 300px
                
            .post__header
                .post__title
                    margin 0.3rem 0
                
            .post__tags
                display block
                .tag
                    padding 0.5rem
                    border 2px solid $ColorBlue
                    margin 0.2rem
                    display inline-block
                    
            .post__footer
                .post__author
                    a
                        margin 0.9rem 1.3rem 0 0
                        font-size 1.2rem
                    img
                        width 60px
                        position absolute
                        bottom -1.2rem
                        right -1.2rem
                        border 2px solid $ColorBlue
    
                
/*------------------------------------*\
    $NEWSLETTER
\*------------------------------------*/
        
.newsletter
    margin 1rem 0
    
.newsletter__form
    text-align center
    padding 1rem
    background-color $ColorDark
    color white
    margin 1rem 0 0 0
    
.newsletter__content
    .newsletter__title
        font-size 1.5rem
        display block
    .newsletter__otherTitle
        font-weight 300
        
    .newsletter__inputs
        margin 0.8rem 0 0 0
        input
            color $ColorDark
            
        input[type="text"]
        input[type="email"]
            width 100%
            box-sizing border-box
            padding 0.8rem 0.5rem
            margin 0.5rem 0
            border 2px solid $ColorBlue
            color white
            background-color $ColorDark-2
            
        input[type="submit"]
            padding 0.8rem
            border 1px solid $ColorBlue
            box-shadow 2px 2px 0px $ColorBlue
            background none
            color $ColorBlue
            text-transform uppercase
            background-color $ColorDark-2
            
@media all and (min-width 412px)
    .newsletter__form
        padding 1.5rem 1rem
        
@media all and (min-width 601px)
    .newsletter__form
        padding 1.5rem
        
    .newsletter__content
        .newsletter__inputs
            input[type="text"]
            input[type="email"]
                width 48%
    
            input:first-child
                margin 0.5rem 3% 0.5rem 0
                
@media all and (min-width 1080px)
    .newsletter__form
        padding 2rem 0
        margin 0 auto
        max-width 868px
        
    .newsletter__content
        width 600px
        margin 0 auto
        .newsletter__title
            font-size 2.2rem
        .newsletter__otherTitle
            font-size 1.4rem

/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/
            
.pagination
    text-align center
    margin 2rem 0
    .newer-posts
    .older-posts
        padding 0.7rem 0.8rem
        display inline-block
        border 2px solid $ColorDark
        color $ColorDark
        
/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.footer
    background-color $ColorDark
    color white
    text-align center
    padding 0.5rem
    text-align center
    
.footer-wrap
    display flex
    justify-content space-between
    flex-wrap wrap
    
.footer__info
    width 100%
    box-sizing border-box
    .footer__logo
        img
            width 120px
            display inline-block
        figcaption
            display inline-block
            vertical-align top
            margin 1.5rem 0 0 0.5rem
            font-size 1.5rem

.footer__social
    .footer__list
        display flex
        justify-content center
        
        .footer__item
            margin 0 0.7rem
            
            &:first-child
                margin 0 0.7rem 0 0
            
            a
                color white
                font-size 1.7rem
                
.footer__nav
    display none
                
.footer__moreInfo
    width 100%
    .footer__love
        margin 1.3rem 0
        span
            margin 0 0.2rem
            font-size 1.4rem
            &:nth-child(3)
                color $ColorPink
                
        img
            width 45px
            vertical-align top
            
    .footer__technologies
        .footer__ghost
        .footer__digitalOcean
            display inline-block
            margin 0.5rem
            
@media all and (min-width 412px)
    .footer__info
        .footer__logo
            figcaption
                font-size 2rem
                
    .footer__social
        .footer__list
            .footer__item
                margin 0 0.9rem
                
                a
                    font-size 2rem
                    
@media all and (min-width 601px)
    .footer
        text-align left
        
    .footer__info
        width 48%
        .footer__logo
            figcaption
                font-size 1.5rem
    
    .footer__social
        .footer__list
            justify-content flex-start
        
    .footer__moreInfo
        width 48%
        
@media all and (min-width 1080px)
    .footer
        padding 0.5rem 2rem
    .footer__info
        width 30%
        
    .footer__nav
        width 30%
        display block
        li
            margin 1rem 0
        
    .footer__moreInfo
        width 30%
        
/*------------------------------------*\
    $POST
\*------------------------------------*/

.post-container
    max-width 900px
    margin 0 auto
    width 100%
    padding 0.5rem
    box-sizing border-box
    
    .tags
        display flex
        justify-content flex-start
        flex-wrap wrap
        
        .tag
            padding 0.5rem 0.8rem
            background-color $ColorBlue
            color $ColorDark
            font-size 1.2rem
            vertical-align top
            font-weight 700
            margin 0.3rem 0.5rem
            span
                margin 0 0.3rem 0 0
    
    .post-social
        margin 1.5rem 0
        text-align center
        .addthis_sharing_toolbox a
            margin 0 0.4rem
            
        .post-socialText
            font-size 1.2rem
            display inline-block
            margin 0.5rem 0
        
    .post-content 
        line-height 1.2rem
        img
            display block
            max-width 1080px
            width 100%
            height auto
            margin 0 auto

@media all and (min-width 1080px)
    .post-container
        .post-social
            .post-socialText
                font-size 1.8rem

        .post-content
            font-size 1.2rem
            line-height 1.5rem
            img
                width auto
                
/*------------------------------------*\
    $AUTHOR
\*------------------------------------*/

.post__authorDescription
    background $ColorGray-1
    padding 0.5rem
    border-radius 5px
    margin 1rem 0
    
.post__authorImage
    text-align center
    
    img
        border-radius 50%
        width 200px
        margin 0.5rem 0
        border 3px solid $ColorDark
        
    a:nth-child(2)
        display block
        
.post__authorInfo
    text-align center
    
    .post__authorLocation
        font-size 1.2rem
        
    .post__authorBio
        font-size 1.1rem
        

@media all and (min-width 640px)
    .post__authorImage
        width 35%
        display inline-block
        box-sizing border-box
        
        a:nth-child(2)
            margin 0 0 0.5rem 0
        
    .post__authorInfo
        width 60%
        box-sizing border-box
        display inline-block
        text-align left
        vertical-align top
        
        .post__authorName
            font-size 2.5rem
            
        .post__authorLocation
            font-size 1.5rem
            
        .post__authorBio
            font-size 1.3rem
            
/*------------------------------------*\
    $DIARY - DEMOS - VIDEOS - OTHERS
\*------------------------------------*/

.post__special
    display flex
    justify-content space-around
    flex-wrap wrap
    
.special
    width 100%
    position relative
    box-sizing border-box
    margin 1rem 0 0.5rem 0
    background-color $ColorDark
    color white
    
    .special__title
        position absolute
        padding 0.5rem
        top 0
        z-index 500
        margin 0 auto
        background rgba(white,0.5)
        text-align center
        
        h2
            margin 0
            font-size 1.3rem
        
    .special__cover
        position relative
        .special__image
            width 100%
            height 250px
            
        .special__platform
            border-radius 50%
            position absolute
            width 60px
            margin 0 auto
            left 0
            right 0
            bottom -1.5rem
            border 2px solid white
            
    .special__info
        .special__titleInfo
            font-size 1.6rem
            text-align center
            color white
            
        .special__theme
            font-size 1.1rem
            display block
            margin 0.5rem 1rem
            color white
            
    .special__button
        text-align center
        .btn-default
            border-color $ColorBlue
            box-shadow 2px 2px 0px $ColorBlue
            margin 1rem 0
            
@media all and (min-width 640px)
    .special
        width 46%
        
@media all and (min-width 896px)
    .special
        width 40%
        
        .special__cover
            .special__image
                width 100%
                height 200px
                
/*------------------------------------*\
    $SEARCH SECTION
\*------------------------------------*/

.big-search
    position fixed
    width 100%
    min-height 100%
    top 0
    left 0
    background rgba($ColorDark,0.95)
    user-select none
    z-index 99999
    overflow-y scroll
    transition 0.3s
    display none
    
    .icon-close
        font-size 3.5rem
        color white
        position absolute
        right 2rem
        top 1.3rem
    
    .big-search__form
        width 90%
        max-width 1080px
        margin 5rem auto 1rem auto
        input
            width 100%
            padding 2rem 1rem
            box-sizing border-box
            border none
            color white
            appearance none
            font-size 3rem
            font-weight 800
            background none
            border-bottom 4px solid white
            
        input:placeholder-shown
            color white
        
        ::-webkit-input-placeholder
            color white
            
        :-moz-placeholder
            color white
            
        ::-moz-placeholder
            color white
            
        :-ms-input-placeholder
            color white
            
        ::-ms-input-placeholder
            color white
            
    .results
        margin 0 auto
        width 100%
        max-width 1080px
        overflow-y scroll
        padding 0.5rem 1rem
        
        p
            display none
            
        a
            display block
            
            span
                display inline-block
                margin 0 0.5rem 0 0
                
            h2
                color white
                font-size 1.2rem
                margin 0.6rem 0
                display inline-block
                
.search-active
    display block
            
        
        