//Fonts

$FontDefault = 'Josefin Sans', sans-serif
$FontTitles = 'Raleway', sans-serif

//Colors

$ColorDark = #1E252A
$ColorDark-2 = #242F38
$ColorBlue = #4299D4
$ColorPink = #EB104C
$ColorBody = #EFEFEF
$ColorGray = #E6EBEE