/*------------------------------------*\
    $Variables
\*------------------------------------*/

// Variables que se usan en los estilos

// Fuentes

// Fuente por default
$FontDefault = 'Josefin Sans', sans-serif

// Fuente para los títulos
$FontTitles = 'Raleway', sans-serif

// Colores

//Oscuros
$ColorDark = #1E252A
$ColorDark-2 = #242F38

//Azul
$ColorBlue = #4299D4

//Rosa
$ColorPink = #EB104C

//Grises
$ColorBody = #EFEFEF
$ColorGray = #E6EBEE
$ColorGray-1 = #E1E1E1
$ColorGray-2 = #70757F