<div class="cover-container u-content-center">
    <div class="cover__introduction">
        <h1 class="u-font-xlarge">{{title}}</h1>
    </div>

    {{#has tag="#page-agenda"}}
        <div class="cover__description">
            <p class="cover__text u-margin-top-disabled">
                Frontend Developer. Aprende y mejora tus habilidades como desarrollador a través de mi conocimiento de
                posts, bits y videos. Press Kit
            </p>
        </div>

        <div class="cover__button">
            <a href="mailto:fili@filisantillan.com" class="btn-secondary">Invítame a hablar</a>
        </div>
    {{/has}}

    {{#has tag="#page-stack"}}
        <div class="cover__description">
            <p class="cover__text u-margin-top-disabled">
                Frontend Developer. Aprende y mejora tus habilidades como desarrollador a través de mi conocimiento de
                posts, bits y videos. Press Kit
            </p>
        </div>
    {{/has}}

    {{#has tag="#page-contact"}}
        <div class="cover__description">
            <p class="cover__text u-margin-top-disabled">
                Frontend Developer. Aprende y mejora tus habilidades como desarrollador a través de mi conocimiento de
                posts, bits y videos. Press Kit
            </p>
        </div>

        <div class="cover__button">
            <a href="mailto:fili@filisantillan.com" class=" btn-secondary">Mandar correo</a>
        </div>
    {{/has}}
</div>