.oo-text-center
    text-align center

ul[class*='oo-no-list']
    list-style none
    padding 0

@media $mq-desktop-min-1024
    .oo-wrap-center
        margin 0 auto
        max-width 900px
        
@media $mq-desktop-min-1200
    .oo-wrap-center
        margin 0 auto
        max-width 1000px

@media $mq-desktop-min-1300
    .oo-wrap-center
        margin 0 auto
        max-width 1024px