.oo-text-center
    text-align center

ul[class*='oo-no-list']
    list-style none
    padding 0

//1024px
@media $mq-desktop-xs
    .oo-wrap-center
        margin 0 auto
        max-width 900px
        
//1200px
@media $mq-desktop-sm
    .oo-wrap-center
        margin 0 auto
        max-width 1000px

//1300px
@media $mq-desktop-md
    .oo-wrap-center
        margin 0 auto
        max-width 1024px