{{!------------------------------------}}
{{!-- Disqus. Update: Facebook--}}
{{!------------------------------------}}

<div class="comments__title u-content-center">
    <strong class="comments__text">Comparte tu opinión o duda:</strong>
</div>

<div class="facebook-wrapper u-content-center">
    <div class="fb-comments" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="5"
        data-colorscheme="light"></div>
</div>