@import "../../utilities/u-media-queries.css";

.header {
    padding: calc(var(--spacer-size) / 2);

    @media (--desktop-1024) {
        & .header-wrapper {
            height: 100px;
            padding: var(--spacer-size) 0 0 0;
        }
    }
}