@import "../../global/media-queries.css";

.header {
  padding: var(--spacer-size) calc(var(--spacer-size) / 2);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);

  & .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  font-size: 1.6em;
  margin: 0;

  & .header__text {
    &.text--fili {
      font-weight: 300;
    }
  }
}

.header__optionsList {
  display: flex;
  align-items: center;
  vertical-align: middle;
}


.header__option {
  margin-right: 0.6em;

  & .header__link {
    & .header__icon {
      width: 1.4em;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @media (--desktop-1024) {
    &:last-child {
      display: none;
    }
  }
}