@import '../../global/media-queries.css';

.header {
  padding: var(--spacer);
  background: white;

  & .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  margin: 0;
  & .header__text {
    vertical-align: middle;
    &.text--fili {
      font-weight: 300;
    }
  }
}

.header__options {
  display: flex;
  align-items: center;
  vertical-align: middle;

  & .header__link {
    margin-right: 0.6em;

    & .header__icon {
      width: 1.4em;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
