@import "../../global/media-queries.css";

.navigation {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.5);
  padding: calc(var(--spacer) / 2);

  & .navigation__itemsList {
    display: flex;
    align-items: center;
    overflow-x: scroll;
  }

  @media (--tablet-625) {
    & .navigation__itemsList {
      justify-content: space-evenly;
    }
  }

  @media (--desktop-1024) {
    background: none;
    position: initial;
    width: auto;
    box-shadow: none;
    padding: 0;
    margin-right: 1.5em;

    & .navigation__itemsList {
      justify-content: flex-end;
      overflow: initial;
    }
  }
}

.navigation__item {
  margin: 0 0.8em;
  min-width: 60px;

  & .navigation__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: var(--color-dark);

    & .navigation__icon {
      width: 20px;
      height: 20px;
      margin-bottom: calc(var(--spacer) / 4);
      display: block;
    }

    & .navigation__text {
      font-weight: 300;
      text-transform: uppercase;
      display: block;
      width: 100%;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.isItemCurrent {
    --icon-home: var(--icon-home-active);
    --icon-blog: var(--icon-blog-active);
    --icon-bit: var(--icon-bit-active);
    --icon-video: var(--icon-video-active);
    --icon-agenda: var(--icon-agenda-active);
    --icon-stack: var(--icon-stack-active);
    --icon-about: var(--icon-about-active);
    --icon-contact: var(--icon-contact-active);

    & .navigation__link {
      color: var(--color-dark);
    }
  }

  @media (--desktop-1024) {
    min-width: initial;

    & .navigation__link {
      & .navigation__icon {
        display: none;
      }
    }
  }
}

.icon-home {
  background-image: var(--icon-home);
}

.icon-blog {
  background-image: var(--icon-blog);
}

.icon-bits {
  background-image: var(--icon-bit);
}

.icon-videos {
  background-image: var(--icon-video);
}

.icon-agenda {
  background-image: var(--icon-agenda);
}

.icon-stack {
  background-image: var(--icon-stack);
}

.icon-fili {
  background-image: var(--icon-about);
}

.icon-contacto {
  background-image: var(--icon-contact);
}
