@import "../../utilities/u-media-queries.css";

.navigation {
  & .navigation__itemList {
    display: flex;
    justify-content: center;
  }
}

.navigation__item {
  --dinamic-spacer-size: 1.5em;
  padding: 0 calc(var(--spacer-size) / 5);
  
  & .navigation__link {
    text-transform: uppercase;
    font-size: var(--xxs-text);
    font-weight: 300;
    color: var(--color-dark);

    & .navigation__icon {
      display: none;
    }
  }

  @media (--mobile-375) {
    & .navigation__link {
      font-size: var(--xs-text);
    }
  }

  @media (--desktop-1024) {
    margin-bottom: 0;
    margin-right: var(--spacer-size);

    & .navigation__link {
      font-weight: 300;
      color: var(--color-dark);
      border-bottom: 3px solid transparent;
      transition: 0.3s;

      & .navigation__icon {
        display: none;
      }

      &:hover {
        color: var(--color-pink);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}