@import "../../utilities/u-media-queries.css";

.pagination {
    --btn-height-lg: calc(var(--btn-height) * 1.3);

    margin-bottom: var(--spacer-size);

    & .pagination__arrow {
        & .pagination__icon {
            font-size: var(--xl-title);
            color: var(--color-pink);
        }
    }

    & .pagination__number {
        background-image: linear-gradient(var(--gradient-secondary));
        width: var(--btn-height-lg);
        height: var(--btn-height-lg);
        text-align: center;
        border-radius: 50%;
        margin: 0 calc(var(--spacer-size) / 2);
        color: white;

        & .pagination__text {
            font-size: var(--xl-title);
            line-height: var(--btn-height-lg);
        }
    }

    @media (--tablet-768) {
        & .pagination__number {
            width: var(--btn-height-lg);
            height: var(--btn-height-lg);
        }
    }

    @media (--desktop-1024) {
        & .pagination__arrow {
            transition: 0.3s;
            
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}