@import "../utilities/u-media-queries.css";

@custom-selector :--buttons a[class*="btn"], button[class*="btn"], input[class*="btn"];
@custom-selector :--buttons-secondary a[class*="btn-secondary"], button[class*="btn-secondary"], input[class*="btn-secondary"];
@custom-selector :--buttons-icon a[class*="btn-icon"], button[class*="btn-icon"], input[class*="btn-icon"];
@custom-selector :--buttons-mini a[class*="btn-mini"], button[class*="btn-mini"], input[class*="btn-mini"];
@custom-selector :--iconElements i[class*="o-icon"], span[class*="o-icon"];

:--buttons {
    background-image: linear-gradient(var(--gradient-default));
    box-shadow: var(--shadow-full);
    border-radius: var(--radius-size-full);
    display: inline-block;
    font-size: var(--md-text);
    color: white;
    padding: 0 1.2em;
    height: var(--btn-height);
    line-height: var(--btn-height);
    text-transform: capitalize;
}

:--buttons-secondary {
    background-image: linear-gradient(var(--gradient-secondary));
}

:--buttons-icon {

    & :--iconElements {
        font-size: 1.5em;
        vertical-align: middle;
    }
}

:--buttons-mini {
    & span[class*="text"] {
        display: none;
    }

    & :--iconElements {
        vertical-align: middle;
        font-size: 1.2em;
    }

    @media (--tablet-768) {
        font-size: var(--sm-text);
        padding: 0 0.9em;
        height: calc(var(--btn-height) / 1.4);
        line-height: calc(var(--btn-height) / 1.4);

        & span[class*="text"] {
            display: inline-block;
        }

        & :--iconElements {
            font-size: 0.9em;
        }
    }
}