@custom-selector :--buttons a[class*="btn"], button[class*="btn"], input[class*="btn"];
@custom-selector :--buttons-icon a[class*="btn-icon"], button[class*="btn-icon"], input[class*="btn-icon"];

:--buttons {
    background-image: linear-gradient(19deg, var(--color-blue) 0%, var(--color-purple) 100%);
    box-shadow: 5px 5px 10px color(black alpha(0.5));
    border-radius: var(--radius-size-full);
    display: inline-block;
    font-size: var(--md-text);
    color: white;
    padding: 0 1.2em;
    height: var(--btn-height);
    line-height: var(--btn-height);
}

:--buttons-icon {
    & i[class*="o-icon"] {
        font-size: 1.3em;
    }
}