@font-face {
  font-family: 'icons';
  src:
    url('../../fonts/icons.ttf?yxlfar') format('truetype'),
    url('../../fonts/icons.woff?yxlfar') format('woff'),
    url('../../fonts/icons.svg?yxlfar#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.o-icon-news:before {
  content: "\e900";
}
.o-icon-arrow-right:before {
  content: "\e901";
}
.o-icon-arrow-right-circle:before {
  content: "\e902";
}
.o-icon-challenge:before {
  content: "\e903";
}
.o-icon-edit:before {
  content: "\e904";
}
