@font-face {
  font-family: 'icons';
  src:
    url('../../fonts/icons.ttf?yxlfar') format('truetype'),
    url('../../fonts/icons.woff?yxlfar') format('woff'),
    url('../../fonts/icons.svg?yxlfar#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="o-icon-"], [class*=" o-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o-icon-news:before {
  content: "\e900";
}
.o-icon-arrow-right:before {
  content: "\e901";
}
.o-icon-arrow-right-circle:before {
  content: "\e902";
}
.o-icon-challenge:before {
  content: "\e903";
}
.o-icon-edit:before {
  content: "\e904";
}
