@font-face {
  font-family: 'tags';
  src:
    url('../../fonts/tags.ttf?4djjbj') format('truetype'),
    url('../../fonts/tags.woff?4djjbj') format('woff'),
    url('../../fonts/tags.svg?4djjbj#tags') format('svg');
  font-weight: normal;
  font-style: normal;
}

.o-icon-sublime .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.o-icon-sublime .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-sublime .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 152, 0);
}
.o-icon-sublime .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 152, 0);
}
.o-icon-docker .path1:before {
  content: "\e905";
  color: rgb(54, 69, 72);
}
.o-icon-docker .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(54, 69, 72);
}
.o-icon-docker .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(34, 160, 200);
}
.o-icon-docker .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(55, 177, 217);
}
.o-icon-docker .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(27, 129, 165);
}
.o-icon-docker .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(29, 145, 180);
}
.o-icon-docker .path7:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(35, 163, 194);
}
.o-icon-docker .path8:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(35, 163, 194);
}
.o-icon-docker .path9:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(52, 187, 222);
}
.o-icon-docker .path10:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(35, 163, 194);
}
.o-icon-docker .path11:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(52, 187, 222);
}
.o-icon-docker .path12:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(52, 187, 222);
}
.o-icon-docker .path13:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(35, 163, 194);
}
.o-icon-docker .path14:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(52, 187, 222);
}
.o-icon-docker .path15:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(35, 163, 194);
}
.o-icon-docker .path16:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(211, 236, 236);
}
.o-icon-docker .path17:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(54, 69, 72);
}
.o-icon-docker .path18:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(54, 69, 72);
}
.o-icon-docker .path19:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(189, 217, 215);
}
.o-icon-docker .path20:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(211, 236, 236);
}
.o-icon-webpack .path1:before {
  content: "\e919";
  color: rgb(255, 255, 255);
}
.o-icon-webpack .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(142, 214, 251);
}
.o-icon-webpack .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(28, 120, 192);
}
.o-icon-webassembly:before {
  content: "\e91c";
  color: #654ff0;
}
.o-icon-vue .path1:before {
  content: "\e91d";
  color: rgb(65, 184, 131);
}
.o-icon-vue .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(65, 184, 131);
}
.o-icon-vue .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(53, 73, 94);
}
.o-icon-visual-studio-code:before {
  content: "\e920";
  color: #016ec5;
}
.o-icon-vim .path1:before {
  content: "\e921";
  color: rgb(1, 152, 51);
}
.o-icon-vim .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(102, 254, 152);
}
.o-icon-vim .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(69, 254, 2);
}
.o-icon-vim .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(1, 125, 23);
}
.o-icon-vim .path5:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 93, 4);
}
.o-icon-vim .path6:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-vim .path7:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-vim .path8:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.o-icon-vim .path9:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.o-icon-vim .path10:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.o-icon-vim .path11:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.o-icon-vim .path12:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.o-icon-vim .path13:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.o-icon-vim .path14:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.o-icon-vim .path15:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.o-icon-vim .path16:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.o-icon-vim .path17:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.o-icon-vim .path18:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-vim .path19:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-vim .path20:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-redux:before {
  content: "\e935";
  color: #764abc;
}
.o-icon-reactivex .path1:before {
  content: "\e936";
  color: rgb(255, 0, 144);
}
.o-icon-reactivex .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-reactivex .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-reactivex .path4:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-reactivex .path5:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-pug .path1:before {
  content: "\e93b";
  color: rgb(242, 242, 242);
}
.o-icon-pug .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(237, 28, 36);
}
.o-icon-pug .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(193, 39, 45);
}
.o-icon-pug .path4:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(193, 39, 45);
}
.o-icon-pug .path5:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.o-icon-pug .path6:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 184, 30);
}
.o-icon-pug .path7:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.o-icon-pug .path8:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 184, 30);
}
.o-icon-pug .path9:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.o-icon-pug .path10:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(247, 189, 137);
}
.o-icon-pug .path11:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(251, 213, 160);
}
.o-icon-pug .path12:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-pug .path13:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(247, 189, 137);
}
.o-icon-pug .path14:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-pug .path15:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-pug .path16:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(247, 189, 137);
}
.o-icon-pug .path17:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-pug .path18:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-pug .path19:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(247, 189, 137);
}
.o-icon-pug .path20:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(247, 189, 137);
}
.o-icon-pug .path21:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.o-icon-pug .path22:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-pug .path23:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(247, 189, 137);
}
.o-icon-pug .path24:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(247, 189, 137);
}
.o-icon-pug .path25:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(247, 189, 137);
}
.o-icon-pug .path26:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.o-icon-postcss:before {
  content: "\e955";
  color: #dd3735;
}
.o-icon-nodejs-icon:before {
  content: "\e956";
  color: #539e43;
}
.o-icon-mdn .path1:before {
  content: "\e957";
  color: rgb(0, 0, 0);
}
.o-icon-mdn .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-mdn .path3:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-mdn .path4:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-mdn .path5:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-mdn .path6:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-mdn .path7:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.o-icon-mdn .path8:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.o-icon-javascript .path1:before {
  content: "\e96b";
  color: rgb(247, 223, 30);
}
.o-icon-javascript .path2:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-javascript .path3:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-html-5 .path1:before {
  content: "\e96e";
  color: rgb(228, 77, 38);
}
.o-icon-html-5 .path2:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(241, 101, 41);
}
.o-icon-html-5 .path3:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.o-icon-html-5 .path4:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.o-icon-html-5 .path5:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-html-5 .path6:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-html-5 .path7:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-html-5 .path8:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-html-5 .path9:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-html-5 .path10:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-handlebars:before {
  content: "\e978";
}
.o-icon-graphql:before {
  content: "\e979";
  color: #e535ab;
}
.o-icon-gopher .path1:before {
  content: "\e97a";
  color: rgb(246, 210, 162);
}
.o-icon-gopher .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(246, 210, 162);
}
.o-icon-gopher .path3:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(246, 210, 162);
}
.o-icon-gopher .path4:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(246, 210, 162);
}
.o-icon-gopher .path5:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(105, 215, 226);
}
.o-icon-gopher .path6:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-gopher .path7:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-gopher .path8:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-gopher .path9:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-gopher .path10:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-gopher .path11:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-gopher .path12:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-gopher .path13:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-gopher .path14:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-gopher .path15:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-gopher .path16:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-gopher .path17:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-gopher .path18:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(246, 210, 162);
}
.o-icon-gopher .path19:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.o-icon-gopher .path20:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-github-icon:before {
  content: "\e98e";
}
.o-icon-git-icon:before {
  content: "\e98f";
  color: #de4c36;
}
.o-icon-flux:before {
  content: "\e990";
  color: #44b74a;
}
.o-icon-elm .path1:before {
  content: "\e991";
  color: rgb(95, 180, 203);
}
.o-icon-elm .path2:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(238, 164, 0);
}
.o-icon-elm .path3:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(89, 98, 119);
}
.o-icon-elm .path4:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(95, 180, 203);
}
.o-icon-elm .path5:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(140, 214, 54);
}
.o-icon-elm .path6:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(140, 214, 54);
}
.o-icon-elm .path7:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(238, 164, 0);
}
.o-icon-electron:before {
  content: "\e998";
  color: #47848f;
}
.o-icon-css .path1:before {
  content: "\e99a";
  color: rgb(38, 77, 228);
}
.o-icon-css .path2:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(41, 101, 241);
}
.o-icon-css .path3:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.o-icon-css .path4:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.o-icon-css .path5:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.o-icon-css .path6:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-css .path7:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-css .path8:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-css .path9:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-babel .path1:before {
  content: "\e9a4";
  color: rgb(0, 0, 0);
}
.o-icon-babel .path2:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(249, 220, 62);
}
.o-icon-atom .path1:before {
  content: "\e9a6";
  color: rgb(0, 0, 0);
}
.o-icon-atom .path2:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.o-icon-atom .path3:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(242, 248, 246);
}
.o-icon-atom .path4:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(241, 248, 243);
}
.o-icon-angular-icon .path1:before {
  content: "\e9aa";
  color: rgb(226, 50, 55);
}
.o-icon-angular-icon .path2:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(181, 46, 49);
}
.o-icon-angular-icon .path3:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.o-icon-ghost .path1:before {
  content: "\e9b7";
  color: rgb(61, 81, 91);
}
.o-icon-ghost .path2:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(61, 81, 91);
}
.o-icon-ghost .path3:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(61, 81, 91);
}
.o-icon-ghost .path4:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(61, 81, 91);
}
.o-icon-ghost .path5:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(61, 81, 91);
}
.o-icon-ghost .path6:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(64, 64, 65);
}
.o-icon-ghost .path7:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(64, 64, 65);
}
.o-icon-ghost .path8:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(64, 64, 65);
}
.o-icon-ghost .path9:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(64, 64, 65);
}
.o-icon-ghost .path10:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(64, 64, 65);
}
.o-icon-wordpress:before {
  content: "\e9c1";
}
