/*------------------------------------*\
    $Table of contents
\*------------------------------------*/

/*

    0.  Normalize
    1.  Variables
    2.  Mixins
    3.  Reset
    4.  OCSS
    5.  Buttons

*/

//-- Default

@import 'vendor/normalize'
@import 'helpers/variables'
// @import 'helpers/mixins'
@import 'base/reset'
// @import 'base/oocss'
// @import 'components/buttons'
// @import 'components/icons'
// @import 'components/flex'

@import 'layout/header'