.article-wrapper
    padding 0.5rem
    
.article__content
    color $color-dark
    font-size 16px
    
    h2
    h3
    h4
    h5
    h6
        margin 2rem 0 0 0
        
    h2
        font-size 1.8em
        
    h3
        font-size 1.5em
        
    h4
        font-size 1.3em
        
    h5
        font-size 1.2em
        
    h6
        font-size 1.1em
        
    p
        font-size 1em
        line-height 20px
        margin 0.5rem 0 1rem 0

    strong
        color $color-black
        
    a
        color $color-blue
        border-bottom 1px dashed $color-blue
        
    blockquote
        background $color-gray-B
        border-left 10px solid rgba($color-gray-C,0.7)
        width 100%
        box-sizing border-box
        font-weight 300
        margin 1.5rem 0
        padding 0.3rem 0.5rem
        position relative
        
        strong
            color $color-dark
            font-weight 700
        
        &:before
            color rgba($color-gray-C,0.7)
            content '\ea36'
            font-size 2rem
            position absolute
            top -0.9rem
            left 0.4rem
            // Icon styles
            font-family: 'icons' !important
            speak none
            font-style normal
            font-weight normal
            font-variant normal
            text-transform none
            line-height 1
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale
            
    blockquote[class*='warning']
        background rgba($color-warning,0.3)
        border-left 10px solid rgba($color-warning,0.7)
        color $color-warning
        
        strong
            color $color-warning
        
        &:before
            color $color-warning
            content "\ea34"
        
    blockquote[class*='tip']
        background rgba($color-tip,0.3)
        border-left 10px solid rgba($color-tip,0.7)
        color $color-tip
        
        strong
            color $color-tip
        
        &:before
            color $color-tip
            content "\ea33"

    blockquote p
        margin 0.8em 0
        padding 0.7rem 0 0.7rem 0

    blockquote small
        display inline-block
        margin 0.8em 0 0.8em 1.5em
        font-size 0.9em
        color $color-gray-Z

    blockquote cite 
        font-weight 700

    blockquote cite a 
        font-weight normal
        
    code
        box-sizing border-box
        padding 0 0.2rem
        font-weight 300
        font-family $font-nutito
        white-space pre-wrap
        background $color-gray-A
        border 1px solid $color-gray-B
        border-radius 2px
        vertical-align middle
        color $color-dark
        user-select text
        
    img
        width 100%
        
.article__social
    margin 3rem 0 0 0
    .article__text
        font-size $font-nutito
        font-size 1.2rem
        font-weight 300
        letter-spacing 2px
        margin 0 0 1.5rem 0
        display inline-block
        
.article-author-wrapper
    position relative
    overflow hidden
    padding 2rem 0 0 0
    height 230px
    
    .article-author__cover
        position absolute
        top 0
        margin-top -1rem
        background-repeat no-repeat
        background-size cover
        filter blur(4px)
        width 100%
        height 300px
        z-index -1
        
.article-author__options
    text-align center
    
    .article-author__img
        width 100px
        height 100px
        border-radius 50%
        
    .article-author__button
        display inline-block
        margin 0.5rem 0 0 0
        
.article-author__name
    margin 0.5rem 0
    
    .article-author__text
        font-size 1.4rem
        text-shadow 2px 2px 0 rgba($color-black, 0.9)
        text-transform uppercase
        font-family $font-nutito
        letter-spacing 2px
        
        .article-author__link
             color $color-white
             
.article-author__info
    padding 1.5rem 0.7rem
    text-align center
    box-sizing border-box
    background-color $color-gray-B
    
    .article-author__location
        color $color-dark
        font-size 1.1rem
        
        .article-author__icon
            vertical-align bottom
            
        .article-author__text
            font-family $font-nutito
            letter-spacing 1px
            text-transform uppercase
            font-weight 700
            
.article-author__about
    text-align left
    
    .article-author__bio
    .article__author__post
        font-weight 300
        line-height 1.5rem
        color $color-dark
        .article-author__link
            color $color-blue
            border-bottom 1px dashed $color-blue
        
        