.author-wrapper
    position relative
    overflow hidden
    padding 2rem 0 0 0
    height 230px
    
    .author__cover
        position absolute
        top 0
        margin-top -1rem
        background-repeat no-repeat
        background-size cover
        filter blur(2px)
        width 100%
        height 300px
        z-index -1
        
.author__options
    text-align center
    
    .author__icon
        vertical-align 115%
        font-size 2rem
        color $color-white
        margin 0 0.7rem
        text-shadow 1px 1px 0 rgba($color-black, 0.9)

    .author__img
        width 100px
        height 100px
        border-radius 50%
        border 2px solid $color-white
        
    .author__pagination
        font-size 1.1rem
        background-color rgba($color-white,0.6)
        color $color-black
        letter-spacing 1px
        padding 0.5rem 1rem
        margin 0.5rem 0 0 0
        display inline-block
        border-radius 20px
        border 2px solid $color-white
        
    .author__button
        display inline-block
        margin 0.5rem 0 0 0
        
.author__name
    margin 0.5rem 0
    
    .author__text
        font-size 1.4rem
        text-shadow 2px 2px 0 rgba($color-black, 0.9)
        text-transform uppercase
        font-family $font-nutito
        letter-spacing 2px
        
        .author__link
             color $color-white
             
.author__info
    padding 1.5rem 0.7rem
    text-align center
    box-sizing border-box
    background-color $color-gray-A
    
    .author__location
        color $color-dark
        font-size 1.1rem
        
        .author__icon
            vertical-align bottom
            
        .author__text
            font-family $font-nutito
            letter-spacing 1px
            text-transform uppercase
            font-weight 300
            
.author__about
    text-align left
    
    .author__bio
    .author__post
        font-weight 300
        line-height 1.5rem
        color $color-dark
        
        .author__link
            color $color-blue
            border-bottom 1px dashed $color-blue
            
@media $mq-tablet-min-600
    .author-wrapper
        height 250px
        padding 1.5rem 0 0 0
        
        .author__cover
            margin-top -5rem
            height 500px
            
    .author__options
        .author__icon
            vertical-align 110%
            font-size 2.3rem
            margin 0 1rem

        .author__img
            width 120px
            height 120px
            
        .author__pagination
            padding 0.6rem 1.1rem
            
            
        .author__button
            padding 0.8rem 1.4rem
            
    .author__name
        .author__text
            font-size 1.6rem
            letter-spacing 3px
            
    .author__info
        padding 2rem 1.7rem
        text-align left
        
        .author__location
            font-size 1.5rem
                
    .author__about
        .author__bio
        .author__post
            font-size 1.1rem
            
@media $mq-tablet-min-750
    .author-wrapper
        height 300px
        padding 2.5rem 0 0 0

    .author__options
        .author__icon
            vertical-align 115%
            font-size 2.5rem
            margin 0 1.2rem

        .author__img
            width 130px
            height 130px
            
        .author__pagination
            padding 0.7rem 1.5rem
            font-size 1.1rem
            
        .author__button
            padding 0.8rem 1.5rem
            font-size 1.1rem
            
    .author__name
        .author__text
            font-size 2.3rem
            letter-spacing 4px
            
    .author__info
        padding 3rem 6rem
        
        .author__location
            font-size 1.7rem
                
    .author__about
        .author__bio
        .author__post
            letter-spacing 1px
            
@media $mq-desktop-min-1024
    .author-wrapper
        height 320px
        padding 2.5rem 0 0 0

    .author__options
        .author__icon
            vertical-align 120%

        .author__img
            width 140px
            height 140px
            
        .author__pagination
            padding 0.7rem 1.5rem
            font-size 1.2rem
            
        .author__button
            padding 0.8rem 1.7rem
            font-size 1.2rem
            
    .author__name
        .author__text
            font-size 2.5rem
            
    .author__info
        padding 4rem 8rem
        
        .author__location
            font-size 1.8rem
                
    .author__about
        .author__bio
        .author__post
            margin-left 2.1rem
            font-size 1.2rem
            
@media $mq-desktop-min-1200
    .author-wrapper
        height 350px
        padding 3rem 0 0 0

    .author__options
        .author__icon
            vertical-align 125%

        .author__img
            width 150px
            height 150px
            
    .author__name
        .author__text
            font-size 2.8rem
            
    .author__info
        padding 3rem 12rem
        
        .author__location
            font-size 2rem
                
    .author__about
        .author__bio
        .author__post
            margin-left 2.3rem
            font-size 1.2rem
            letter-spacing 2px