.cover-post
    background-repeat no-repeat
    background-size cover
    height 40vh
    position relative
    
    &__wrapper
        position absolute
        bottom 0
        width 100%
        
.cover-post__title
    padding 0.5rem 0.7rem
    .cover-post__text
        font-size 1.5rem
        margin 0
        color $color-white
        text-shadow 1px 1px 0 rgba($color-black,0.9)
        
.cover-post__info
    background-color rgba($color-black,0.8)
    height 35px
    padding 0.5rem 0.7rem
    
    .cover-post__date
        line-height 35px
        color $color-white
        font-weight 300
        display inline-block
        
        .cover-post__icon
            font-size 1.5rem
            vertical-align middle
            
        .cover-post__text
            margin 0 0 0 0.2rem
            
    .cover-post__tag
        float right
        
        .cover-post__icon
            font-size 1.8rem
            line-height 35px