.footer
    background $color-blue
    color $color-white
    padding 0.8rem
    position relative
    text-align center
    
    &__image
        position absolute
        top -2rem
        left 0
        right 0
        
    &__info
        
        .footer__copyright
        .footer__digitalocean
            display block
            margin 0.5rem 0
            font-weight 300
            
            .footer__link
                color $color-yellow
                margin 0 0 0 0.2rem
                padding 0 0 0.1rem 0
                border-bottom 1px dashed $color-yellow
        
.footer__social
    margin 3.5rem 0 1rem 0
    
    .footer__item
        display inline-block
        margin 0 0.6rem
        
        .footer__icon
            font-size 1.7rem
            color $color-white
            
@media $mq-tablet-min-750
    .footer
        padding 2.5rem 1.5rem
        &__info
            text-align right
            
    .footer__social
        margin 1.4rem 0
        
@media $mq-desktop-min-1024
    .footer
        .flex
            padding 0 3rem
            
@media $mq-desktop-min-1200
    .footer
        .flex
            padding 0 7rem