.header
    background $color-blue
    padding 0.8rem
    position relative
    text-align right
    
    &__image
        position absolute
        z-index 20
        top 0.4rem
        left 0.7rem
        
        .header__img
            width 130px
    
    &__ico-menu
        margin 0.5rem 0 0 0
        display inline-block
        
        .header__text
            font-size 1.1rem
            vertical-align 20%
            margin 0 0.2rem 0 0
            color $color-white
            
        .header__icon
            font-size 1.5rem
            color $color-white
            
@media $mq-desktop-min-1024
    .header
        &__ico-menu
            display none