.header
    background $color-blue
    padding 0.8rem
    display flex
    justify-content space-between
    
    &__image
        .header__img
            width 40px
    
    &__menu
        margin 0.5rem 0 0 0
        color $color-black
        display inline-block
        .header__text
            font-size 1.1rem
            vertical-align 20%
            margin 0 0.2rem 0 0
            
        .header__icon
            font-size 1.5rem