.post-wrapper
    .post
        border-radius 5px
        background $color-gray-A
        margin 1.5rem 1rem

.post__cover
    margin 0 0 0.5rem 0
    height 180px
    max-height 200px
    overflow hidden
    border-radius 5px 5px 0 0
    
    .post__img
        width 110%
        height auto
        min-height 100%
            
.post__title
    padding 0 0.5rem
    
    .post__text
        margin 0 0 0.5rem 0
        font-size 1.4rem
        
        .post__link
            color $color-black
            
.post__description
    padding 0 0.5rem
    
    .post__text
        font-weight 300
        margin 0 0 1.5rem 0
        color $color-dark
        font-family $font-nutito
        
.post__author
    background-color $color-gray-B
    padding 0.3rem 0.5rem
    border-radius 0 0 5px 5px
    position relative
    
    .post__img
        width 35px
        border-radius 50%
        margin 0.2rem 0 0 0
        
    .post__text
        display inline-block
        vertical-align 55%
        margin 0 0 0 0.3rem
        
        .post__name
            font-family $font-nutito
            font-weight 300
            color $color-black
            
    .post__icon
        position absolute
        top 23%
        right 0.8rem
        font-size 1.8rem

// First Article in the blog
.post:first-child
    margin 0
    position relative
    
    .post__cover
        max-height 380px
        height 280px
        border-radius 0
        
        .post__img
            width 150%
            margin-left -2.5rem

    .post__info
        position absolute
        bottom 0
        background-color rgba($color-black,0.8)
        width 100%
        box-sizing border-box
        
        .post__title
            padding 0.5rem 0.7rem 0 0.7rem
            
            .post__text
                font-size 1.3rem
                
                .post__link
                    color $color-white
                    
        .post__description
            padding 0 0.7rem
            border-bottom 1px solid $color-white
            
            .post__text
                color $color-white
                font-size 0.9rem
                margin 0 0 0.5rem 0
                    
        .post__author
            background none
            padding 0.3rem 0.7rem
            border-radius 0
            
            .post__text
                .post__name
                    color $color-white
                    
//360px 
@media $mq-phone-sm
    .post:first-child
        .post__info
            .post__title
                padding 0.5rem 1rem 0 1rem
                
            .post__description
                padding 0 1rem
                
            .post__author
                padding 0.3rem 1rem
                
                .post__icon
                    right 1rem
//375px
@media $mq-phone-md
    .post__cover
        height 200px
            
    .post:first-child
        .post__info
            .post__title
                padding 0.5rem 1.2rem 0 1.2rem
                
                .post__text
                    font-size 1.4rem
                
            .post__description
                padding 0 1.2rem
                
            .post__author
                padding 0.3rem 1.2rem
                
                .post__icon
                    right 1.2rem
//412px
@media $mq-phone-lg
    .post-wrapper
        .post
            margin 1.5rem 2rem
            
    .post__title
        .post__text
            font-size 1.6rem

    .post:first-child
        margin 0
        .post__cover
            height 300px
            
            .post__img
                width 130%
                
        .post__info
            .post__title
                padding 0.5rem 1.5rem 0 1.5rem
                .post__text
                    font-size 1.5rem
                    
            .post__description
                padding 0.5rem 1.5rem 0 1.5rem
                
            .post__author
                padding 0.3rem 1.5rem
                
                .post__icon
                    right 1.5rem