.post-wrapper
    margin 5rem 0 0 0
    padding 0.5rem 1rem

.post
    border-radius 5px
    background $color-gray-A
    margin 1.5rem 0
    &__cover
        margin 0 0 0.5rem 0
        .post__img
            width 100%
            border-radius 5px 5px 0 0
            
.post__title
    padding 0 0.5rem
    
    .post__text
        margin 0 0 0.5rem 0
        font-size 1.4rem
        
        .post__link
            color $color-black
            
.post__description
    padding 0 0.5rem
    
    .post__text
        font-weight 300
        margin 0 0 1.5rem 0
        color $color-dark
        font-family $font-nutito
        
.post__author
    background $color-gray-B
    padding 0.3rem 0.5rem
    border-radius 0 0 5px 5px
    position relative
    
    .post__img
        width 35px
        border-radius 50%
        margin 0.2rem 0 0 0
        
    .post__text
        display inline-block
        vertical-align 55%
        margin 0 0 0 0.3rem
        
        .post__name
            font-family $font-nutito
            font-weight 300
            color $color-black
            
    .post__icon
        position absolute
        top 23%
        right 0.8rem
        font-size 1.8rem