.menu
    position fixed
    top 0
    right 0
    width 90%
    height 100vh
    background-color $color-blue
    padding 1rem 0.5rem
    box-sizing border-box
    z-index 150
    
    &__close
        position absolute
        background-color $color-yellow
        top 0.8rem
        left -1.5rem
        padding 0.8rem
        box-shadow 5px 5px 0 $color-red
        
        .menu__icon
            font-size 1.7rem
            color $color-black
    
.menu__image
    text-align center
    
    .menu__img
        width 120px
        margin 0 0 0.6rem 0
        
    .menu__text
        color $color-white
        font-size 2rem
        font-weight 700
        font-family $font-nutito
    
.menu__options
    display flex
    justify-content flex-start
    flex-wrap wrap
    
    .menu__option
        width 33.33%
        text-align center
        
        &:first-child .menu__link > .menu__icon:before
            content '\e900'
        &:nth-child(2) .menu__link > .menu__icon:before
            content '\e074'
        &:nth-child(3) .menu__link > .menu__icon:before
            content '\e018'
        &:nth-child(4) .menu__link > .menu__icon:before
            content '\e034'
        &:nth-child(5) .menu__link > .menu__icon:before
            content '\e024'
        &:nth-last-child(3) .menu__link > .menu__icon:before
            content '\e902'
        &:nth-last-child(2) .menu__link > .menu__icon:before
            content '\e901'
        &:last-child .menu__link > .menu__icon:before
            content '\e903'
    
.menu__link
    color $color-white
    font-weight 300
    
    .menu__icon
        font-size 1.8rem
        display block
        margin 1rem 0 0.3rem 0
