.pagination
    text-align center
    margin 0 0 1.5rem 0
    font-weight 300
    
    &__number
        margin 0 0.7rem
            
    &__newer-posts
    &__older-posts
        padding 0.2rem 0.4rem
        background $color-gray-A
        border 1px solid $color-dark
        color $color-dark
        border-radius 3px
        font-size 1.2rem
        
    &__newer-posts
        box-shadow -4px 4px 0 $color-dark
        
    &__older-posts
        box-shadow 4px 4px 0 $color-dark
