.subscribers
    background $color-gray-B
    padding 2rem 1.2rem
    
    &__text
        .subscribers__title
            font-family $font-nutito
            font-size 1.8rem
            
        .subscribers__paragraph
            font-weight 300
            
.subscribers__wrapper
    .subscribers__content
        margin 1rem 0
        display flex
        justify-content center
        
        .subscribers__icon
            background $color-gray-A
            color $color-dark
            width 40px
            font-size 1.5rem
            padding 0.6rem
            box-sizing border-box
            border-radius 4px 0 0 4px
            
        input[type='text']
        input[type='email']
            padding 0.8rem 0.5rem
            width calc(100% - 40px)
            box-sizing border-box
            border-radius 0 4px 4px 0
