@import "../utilities/u-media-queries.css";

:root {
    --color-dark: #161925;
    --color-blue: #299fd3;
    --color-purple: #B721FF;
    --color-yellow: #FEE140;
    --color-pink: #FA709A;
    --color-gray: gray(150);

    --gradient-default: 130deg, var(--color-blue) 0%, var(--color-purple) 100%;
    --gradient-secondary: 130deg, var(--color-yellow) 0%, var(--color-pink) 100%;

    --shadow-complete: 5px 5px 10px color(black alpha(0.5));
    --shadow-middle: 2.5px 2.5px 5px color(black alpha(0.5));

    --spacer-size: 1.5rem;

    --radius-size: 5px;
    --radius-size-double: 10px;
    --radius-size-full: 25px;

    --sm-title: 22px;
    --md-title: 25px;
    --lg-title: 28px;
    --xl-title: 30px;

    --sm-text: 15px;
    --md-text: 16px;
    --lg-text: 17px;
    --xl-text: 19px;

    --btn-height: 45px;
    --author-image-size: 100px;

    @media (--mobile-375) {

        --spacer-size: 1.6rem;

        --sm-title: 24px;
        --md-title: 26px;
        --lg-title: 28px;
        --xl-title: 32px;
    }
s
    @media (--mobile-425) {

        --spacer-size: 1.7rem;

        --sm-title: 25px;
        --md-title: 27px;
        --lg-title: 29px;
        --xl-title: 34px;
    }

    @media (--tablet-768) {

        --spacer-size: 2rem;

        --sm-title: 27px;
        --md-title: 29px;
        --lg-title: 31px;
        --xl-title: 36px;

        --sm-text: 16px;
        --md-text: 17px;
        --lg-text: 18px;
        --xl-text: 20px;

        --btn-height: 48px;
        --author-image-size: 130px;
    }

    @media (--desktop-1024) {

        --author-image-size: 200px;

    }
}