@import "../utilities/u-media-queries.css";

:root {
    --color-dark: #161925;
    --color-blue: #299fd3;
    --color-purple: #B721FF;
    --color-yellow: #FEE140;
    --color-pink: #FA709A;

    --spacer-size: 1.5rem;

    --radius-size: 5px;
    --radius-size-double: 10px;
    --radius-size-full: 25px;

    --sm-title: 22px;
    --md-title: 25px;
    --lg-title: 28px;
    --xl-title: 30px;

    --sm-text: 15px;
    --md-text: 16px;
    --lg-text: 17px;
    --xl-text: 19px;

    --btn-height: 45px;
    --author-image-size: 100px;

    @media (--mobile-375) {

        --spacer-size: 1.6rem;

        --sm-title: 24px;
        --md-title: 26px;
        --lg-title: 28px;
        --xl-title: 32px;
    }

    @media (--mobile-425) {

        --spacer-size: 1.7rem;

        --sm-title: 26px;
        --md-title: 28px;
        --lg-title: 30px;
        --xl-title: 34px;

        --sm-text: 16px;
        --md-text: 17px;
        --lg-text: 18px;
        --xl-text: 20px;
    }

    @media (--tablet-768) {

        --spacer-size: 2rem;

        --sm-title: 29px;
        --md-title: 31px;
        --lg-title: 33px;
        --xl-title: 44px;

        --sm-text: 17px;
        --md-text: 18px;
        --lg-text: 19px;
        --xl-text: 21px;
    }
}