:root {
    --color-dark: #161925;
    --color-blue: #299fd3;
    --color-purple: #B721FF;
    --color-yellow: #FEE140;
    --color-pink: #FA709A;

    --spacer-size: 1.5rem;

    --radius-size: 5px;
    --radius-size-double: 10px;
    --radius-size-full: 25px;

    --sm-title: 22px;
    --md-title: 25px;
    --lg-title: 28px;
    --xl-title: 30px;

    --sm-text: 15px;
    --md-text: 16px;
    --lg-text: 17px;
    --xl-text: 19px;

    --btn-height: 45px;
    --author-image-size: 100px;
}