<a href="#" id="icon-close">
  {{> "icons/icon-close"}}
</a>
<div class="search-wrapper">

  <div class="search-input-wrapper">
    {{> "icons/icon-search"}}
    <input type="text" class="search-input" id="search-input" placeholder="Escribe para buscar">
  </div>

  <div id="search-result" class="search-result"></div>
</div>