.article-wrapper{
    display: grid;
    padding: var(--spacer-size);
}

.article {
    border-radius: var(--radius-size-double);
    box-shadow: 5px 5px 10px color(black alpha(0.5));
    margin-bottom: var(--spacer-size);

    & .article__coverContainer {
        position: relative;
        margin-bottom: calc(var(--btn-height) / 2 + var(--spacer-size));
    }
}

.article__cover {
    & .article__image {
        width: 100%;
        border-radius: var(--radius-size-double) var(--radius-size-double) 0 0;
        vertical-align: bottom;
    }
}

.article__gradient {
    border-radius: var(--radius-size-double) var(--radius-size-double) 0 0;
    background-color: var(--color-blue);
    background-image: linear-gradient(130deg, var(--color-blue) 0%, var(--color-purple) 100%);
    height: 80px;
}

.article__details {
    padding: 0 calc(var(--spacer-size) / 2) var(--spacer-size);
}

.article__tagContainer {
    position: absolute;
    width: 100%;
    bottom: calc(var(--btn-height) * -1 / 2);
    text-align: center;
    
    & .article__tag {
        & .article__text {
            font-weight: 700;
        }
    }
}

.article__title {
    & .article__text {
        font-size: var(--lg-title);

        & .article__link {
            color: var(--color-dark);
        }
    }
}

.article__description {
    & .article__text {
        font-size: var(--md-text);
    }
}

.article__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__author {
    display: inline-block;
    display: flex;
    align-items: center;

    & .article__avatar {
        width: 35px;
        height: 35px;
        margin-right: calc(var(--spacer-size) / 2);

        & .article__image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    & .article__name {
        font-size: var(--sm-text);
        color: var(--color-dark);
    }
}

