@import "../../global/media-queries.css";

.article-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--spacer-size);
  padding: var(--spacer-feature-post) var(--spacer-size);
  position: relative;

  @media (--tablet-768) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacer-size);
  }

  @media (--desktop-1024) {
    grid-template-columns: repeat(12, 1fr);
    /* padding: 0; */
    margin-bottom: var(--spacer-size);
  }
}

.article-card {
  padding: calc(var(--spacer-size));
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  background: white;
  left: var(--spacer-size);
  right: var(--spacer-size);
  top: calc(var(--spacer-size) * -5);
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: calc(var(--spacer-size) / 2);


  & .article-link {
    position: absolute;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  @media (--tablet-768) {
    max-width: 650px;
    grid-template-columns: repeat(2, 120px) repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    grid-row-gap: calc(var(--spacer-size) / 2);
    grid-column-gap: calc(var(--spacer-size) / 2);
    grid-template-areas: 
    "cover cover header header"
    "cover cover content content"
    "cover cover content content";
  }
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: var(--xs-text);
  font-weight: 300;

  & .article-header__date {
    text-transform: uppercase;
  }

  & .article-header__feature {
    background: var(--color-dark);
    border-radius: 5px 0 0 5px;
    color: white;
    padding: calc(var(--spacer-size) / 4) calc(var(--spacer-size) / 3);
    margin-right: calc(var(--spacer-size) * -1);


    & .article-header__icon {
      display: none;
    }

    @media (--mobile-375) {
      & .article-header__icon {
        display: inline-block;
        margin-right: calc(var(--spacer-size) / 4);
      }
    }
  }

  @media (--tablet-768) {
    grid-area: header;
  }

}

.article-cover {
  display: block;
  background: linear-gradient(var(--gradient-default));
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid var(--color-dark);

  & .article-cover__image {
    width: 100%;
  }

  @media (--tablet-768) {
    grid-area: cover;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .article-content__title {
    margin-bottom: var(--spacer-size);
  }

  @media (--tablet-768) {
    grid-area: content;
  }
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
  text-transform: uppercase;
  font-size: var(--xxs-text);

  & .article-footer__wrapTag {
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    background-color: var(--color-dark);
    color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
}

/* .article {
  position: relative;
  color: white;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 25, 37, 0.3);
    z-index: 2;
    border-radius: var(--radius-size-full);
  }

  & .article__coverContainer {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:first-child {
    margin-left: calc(var(--spacer-size) * -1);
    margin-right: calc(var(--spacer-size) * -1);

    &:before {
      border-radius: 0;
    }

    & .article__cover {
      & .article__image {
        border-radius: 0;
      }
    }
  }

  @media (--tablet-768) {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  @media (--tablet-768) {
    &:first-child {
      grid-column: 1 / -1;
      max-width: 800px;
      justify-self: center;
      position: relative;
      box-shadow: none;
      border-radius: 0;
      left: -150px;
      margin-bottom: 50px;

      & .article__coverContainer {
        margin-bottom: 0;
      }

      & .article__cover {
        & .article__image {
          width: 600px;
          min-height: 400px;
          max-height: 400px;
          border-radius: var(--radius-size-full);
          box-shadow: var(--shadow-full);
        }
      }

      & .article__gradient,
      & .article__details {
        border-radius: var(--radius-size-full);
        box-shadow: var(--shadow-full);
      }

      & .article__gradient {
        width: 600px;
        height: 400px;
      }

      & .article__details {
        position: absolute;
        background: white;
        bottom: -50px;
        right: -300px;
        max-width: 600px;
        padding: var(--spacer-size) calc(var(--spacer-size) * 1.5)
          var(--spacer-size);
      }

      & .article__tagContainer {
        top: calc(var(--spacer-size) / 2);
        left: calc(var(--spacer-size) / 2);
        width: auto;
        bottom: initial;
      }

      & .article__info {
        & .article__title {
          font-size: var(--xl-title);
        }
      }
    }

    &:nth-child(5n + 2) {
      grid-column: 1 / 5;
    }

    &:nth-child(5n + 3) {
      grid-column: 5 / 9;
    }

    &:nth-child(5n + 4) {
      grid-column: 9 / 13;
    }

    &:nth-child(5n + 5),
    &:nth-child(5n + 6) {
      & .article__cover {
        & .article__image {
          min-height: 280px;
          max-height: 280px;
        }
      }
    }

    &:nth-child(5n + 5) {
      grid-column: 1 / 7;
    }

    &:nth-child(5n + 6) {
      grid-column: 7 / 13;
    }
  }
}

.article__cover {
  width: 100%;
  height: 100%;

  & .article__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-size-full);
  }
}

.article__gradient {
  border-radius: var(--radius-size-full) var(--radius-size-full) 0 0;
  background-color: var(--color-blue);
  background-image: linear-gradient(
    130deg,
    var(--color-blue) 0%,
    var(--color-purple) 100%
  );
  height: 225px;
}

.article__details {
  position: relative;
  padding: calc(var(--spacer-size) * 2) var(--spacer-size);
  z-index: 3;

  @media (--tablet-768) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.article__tagContainer {
  display: inline-flex;
  background: linear-gradient(var(--gradient-secondary));
  padding: 6px 12px;
  border-radius: var(--radius-size-full);

  & .article__tag {
    display: inline-flex;
    color: white;
    font-size: var(--xxs-text);

    & .article__icon,
    & .article__text {
      vertical-align: middle;
      display: inline-flex;
    }

    & .article__icon {
      margin-right: 0.4rem;
    }

    & .article__text {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}

.article__info {
  & .article__title {
    font-size: var(--lg-title);
    margin-bottom: calc(var(--spacer-size) / 2);
    line-height: 1.5;
    & .article__link {
      color: white;
    }
  }

  & .article__description {
    margin-bottom: var(--spacer-size);

    & .article__text {
      font-size: var(--md-text);
      margin: 0;
    }
  }

  @media (--tablet-768) {
    & .article__title {
      font-size: var(--sm-title);
    }
  }

  @media (--desktop-1024) {
    & .article__title {
      & .article__link {
        transition: 0.3s;
      }
    }
  }
} */

/* .article__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .article__author {
  display: block;
  margin-bottom: calc(var(--spacer-size) * 2);
  & .article__name {
    font-size: var(--sm-text);

    & .article__link {
      font-weight: 700;
      color: white;
      text-decoration: underline;
    }
  }

  @media (--tablet-768) {
    & .article__avatar {
      width: calc(var(--btn-height) / 1.4);
      height: calc(var(--btn-height) / 1.4);
    }
  }

  @media (--desktop-1024) {
    transition: 0.3s;
  }
} */
