@import "../../global/media-queries.css";

.site-main-container {
    padding: calc(var(--spacer) * 2) var(--spacer);

    & .site-main-container__title  {
        display: block;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: var(--spacer);
    }

    &.site-main-container--bits {
        background: var(--color-yellow);
        position: relative;
        z-index: 0;

        & .site-main-container__description {
            margin-top: 0;
            margin-bottom: var(--spacer);
        }

        & .site-main-container__buttons {
            text-align: center;
            margin-bottom: calc(var(--spacer) * 2);

            & .site-main-container__button {
                min-width: 183px;

                &:first-child {
                    margin-bottom: var(--spacer);
                }
            }
        }
    }

    @media (--screen-1024) {
        padding: calc(var(--spacer) * 3) 0;

        &.site-main-container--bits {
            & .site-main-container__details {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: var(--spacer);
            }

            & .site-main-container__title {
                background: var(--color-dark);
                color: white;
                padding: var(--spacer);
                margin: 0 0 var(--spacer);
                text-align: center;
                border-radius: 5px;
            }

            & .site-main-container__description {
                line-height: 1.5;
            }

            & .site-main-container__buttons {
                margin-bottom: 8px;
                text-align: left;

                & .site-main-container__button {
                    margin-bottom: 0;

                    &:first-child {
                        margin-right: var(--spacer);
                    }
                }
            }
        }
    }

    @media (--screen-1200) {
        &.site-main-container--bits {
            & .site-main-container__details {
                grid-template-columns: minmax(auto, 500px) 1fr;
            }
        }
    }
}

.site-main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: var(--spacer);

    @media (--screen-768) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: var(--spacer);

        & .site-main-wrapper__button {
            grid-column: 1 / -1;
        }
    }

    @media (--screen-1024) {
        grid-template-columns: repeat(3, 1fr);

        &.site-main-wrapper--bits {
            grid-template-columns: repeat(2, 1fr);
        }

        &.site-main-wrapper--video {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.post-card {
    position: relative;
    padding: var(--spacer);
    height: 370px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--color-dark);
    background: var(--color-pink);
    z-index: 2;
    box-shadow: var(--shadow-default);
    color: white;

    &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: rgba(40, 43, 57, 0.6);
        z-index: -1;
    }

    & .post-card-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    & .post-card-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;

        & .post-card__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .post-card__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &.post-card--video {
        height: 200px;
    }

    @media (--screen-375) {
        height: 420px;

        &.post-card--video {
            height: 230px;
        }
    }

    @media (--screen-768) {
        height: 400px;

        &:first-child  {
            grid-column-start: 1;
            grid-column-end: 3;
            height: 400px;

            & .post-card__info {
                & .post-card__footer {
                    & .post-card__title {
                        max-width: 80%;
                    }
                }
            }
        }

        &.post-card--video {
            grid-column-start: auto;
            grid-column-end: auto;
            height: 230px;
        }
    }

    @media (--screen-1024) {
        &.post-card--video {
            height: 300px;
        }
    }
}

.post-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-small);

    & .post-card__date {
        text-transform: uppercase;
    }

    & .post-card__feature  {
        display: flex;
        align-items: center;
        background-color: white;
        color: var(--color-dark);
        border-radius: 5px;
        padding: calc(var(--spacer) / 3);
        font-weight: 500;
    }
}

.post-card__footer {
    font-size: var(--font-size-xsmall);

    & .post-card__title {
        line-height: 1.5;
        margin-bottom: calc(var(--spacer) * 2);
    }

    & .post-card__details {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        z-index: 15;
    }

    & .post-card__playButton {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    @media (--screen-425) {
        &.footer--video {
            & .post-card__title {
                font-size: var(--font-size-large);
            }
        }
    }
}

.post-card-bit {
    position: relative;
    max-width: 250px;
    border: 2px solid var(--color-dark);
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;

    & .post-card-link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    & .post-card-bit__title  {
        position: absolute;
        bottom: 0;
        background: white;
        width: 100%;
        padding: calc(var(--spacer) / 2);
        color: var(--dark-color);
        text-align: center;
        border-top: 2px solid var(--color-dark);
    }

    @media (--screen-768) {
        max-width: 300px;
    }

    @media (--screen-1024) {
        max-width: 100%;
    }
}

.post-card-bit__cover {
    display: block;
    & .post-card-bit__image {
        width: 100%;
        height: 100%;
    }
}
