@import "../../global/media-queries.css";

.cover {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50vh;

  &.isCoverEnable {
    background-size: cover;
    background-position: center;
    z-index: 0;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(22, 25, 37, 0.6);
      z-index: -1;
    }
  }

  &.isCoverDisabled {
    background-image: var(--color-yellow);
    color: var(--color-dark);
  }

  @media (--screen-1024) {
    min-height: 45vh;
  }
}

.cover-container {
  padding: 0 var(--spacer);
  color: white;

  & .cover__introduction {
    margin-bottom: calc(var(--spacer) / 2);
  }

  & .cover__description {
    margin-bottom: var(--spacer);
    & .cover__text {
      font-weight: 300;
    }
  }

  @media (--screen-1024) {
    width: 100%;
    padding: 0;

  }
}
