html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Nunito", system-ui;
    color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", system-ui;
}

h1, h2, h3, h4, h5, h6, figure {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

input,
button {
    border: none;
    appearance: none;
}

input:focus,
button:focus {
    outline: none;
}