.text-center
    text-align center
    
.flex-video
    height 0
    overflow hidden
    padding-bottom 56.25%
    padding-top 30px
    position relative
    
    iframe
    object
    embed
    video
        height 100%
        left 0
        position absolute
        top 0
        width 100%
        
.twitter-tweet
    margin 0 auto

ul[class*='no-list']
    list-style none
    padding 0

@media $mq-desktop-min-1024
    .wrap-center
        margin 0 auto
        max-width 900px
        
@media $mq-desktop-min-1200
    .wrap-center
        margin 0 auto
        max-width 1000px

@media $mq-desktop-min-1300
    .wrap-center
        margin 0 auto
        max-width 1024px