h1
h2
h3
h4
h5
h6
    font-family $font-nutito
    
body
    font-family $font-lato
    
a
    text-decoration none
    
figure
    margin 0
    
input
    outline 0
    appearance none
    border none